not-reviewed/Automated_Email_Attachment_Organizer/1762527701664-Template.json
{"createdAt":"2025-04-07T19:47:53.058Z","updatedAt":"2025-04-08T12:31:55.000Z","id":"qc2uk6hYN6f3KZ4I","name":"Automated Email Attachment Organizer","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"fileFolder","queryString":"={{$json.folderName}}","filter":{"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2420,500],"id":"13188ea7-7e66-4955-89d0-82ba4dc08dc9","name":"Search For Folder","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"VypmUgEf64twpmiZ","name":"Google Drive account"}}},{"parameters":{"resource":"folder","name":"={{ $('YYYY/MM').first().json.folderName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('YYYY/MM').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2060,680],"id":"ed2ababb-7022-43e1-b638-0132c08ef701","name":"Create Month Folder","credentials":{"googleDriveOAuth2Api":{"id":"VypmUgEf64twpmiZ","name":"Google Drive account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"09b62415-cb8f-478e-b6d3-aa463fe70c81","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2240,500],"id":"f5f2365d-0977-48b1-bd2e-29b7707839d9","name":"Check If Folder Exists"},{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":15,"unit":"minutes"}]},"simple":false,"filters":{"labelIds":["Label_2"]},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-4400,780],"id":"c27b0a9d-8ee2-4eae-963c-14256ffae0b8","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"HI2iZSvhvC5XOdpp","name":"Gmail account 2"}}},{"parameters":{"operation":"get","messageId":"={{ $('Gmail Trigger').item.json.id }}","simple":false,"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1720,460],"id":"3eac8c53-1b20-4511-9f2a-f5e838ca0fa0","name":"Gmail","webhookId":"e62ae049-d968-4e6a-a62d-06963c8e592f","credentials":{"gmailOAuth2":{"id":"HI2iZSvhvC5XOdpp","name":"Gmail account 2"}}},{"parameters":{"functionCode":"let results = [];\n\nfor (item of items) {\n    for (key of Object.keys(item.binary)) {\n        results.push({\n            json: {\n                fileName: item.binary[key].fileName\n            },\n            binary: {\n                data: item.binary[key],\n            }\n        });\n    }\n}\n\nreturn results;"},"name":"Split Up Binary Data1","type":"n8n-nodes-base.function","position":[-1560,460],"typeVersion":1,"id":"bfae9bb5-6915-4968-8b5e-e72dd46bda55"},{"parameters":{"content":"## Upload attachments to Drive\nIncoming files are split up into individual items, each with a single binary data object under the `data` key.\nFiles names are prefixed with the current timestamp","height":660,"width":920,"color":7},"name":"Note2","type":"n8n-nodes-base.stickyNote","position":[-1800,280],"typeVersion":1,"id":"baf55ab9-511f-4404-a2cc-b1c848f6f5c5"},{"parameters":{"assignments":{"assignments":[{"id":"143b3b94-a8d7-46b6-8ea8-2e70c082f5b1","name":"=folderName","value":"={{\n  new Date($('Gmail Trigger').item.json.date).getUTCFullYear() \n  + '/' + \n  String(new Date($('Gmail Trigger').item.json.date).getUTCMonth() + 1).padStart(2, '0')\n}}\n","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2600,500],"id":"5d706d3a-db17-4f5f-9eac-ba91c470dbdd","name":"YYYY/MM"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1320,460],"id":"b20a3833-f648-454d-999b-d799727e18e8","name":"Loop Over Items"},{"parameters":{"content":"# Checks if YYYY/MM Folder exists\n## If the directory doesn't exist it is created","height":660,"width":820,"color":7},"name":"Note3","type":"n8n-nodes-base.stickyNote","position":[-2680,280],"typeVersion":1,"id":"bb8c0d21-de74-4abf-bf6c-5eef3f301513"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"09b62415-cb8f-478e-b6d3-aa463fe70c81","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3180,500],"id":"40971ca3-91d3-4651-8137-e973dbd2dbbd","name":"Company Folder Exists"},{"parameters":{"resource":"folder","name":"={{ $('Lookup in Sheets').item.json.company }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"18ry0AUtrpp3re6u3zQvvs0BQUGFmBKN9","mode":"list","cachedResultName":"Invoices","cachedResultUrl":"https://drive.google.com/drive/folders/18ry0AUtrpp3re6u3zQvvs0BQUGFmBKN9"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2920,620],"id":"086ff643-ca10-46ec-92b5-8a014fd3bf3f","name":"Create Company Folder","credentials":{"googleDriveOAuth2Api":{"id":"VypmUgEf64twpmiZ","name":"Google Drive account"}}},{"parameters":{"content":"# Checks if a folder with the company of the email exists\n## If it doesn't the directory is created","height":820,"width":760,"color":7},"name":"Note4","type":"n8n-nodes-base.stickyNote","position":[-3500,120],"typeVersion":1,"id":"7792afb7-61d9-402f-814b-f4625cd012bc"},{"parameters":{"content":"# 2. Google Sheets Whitelist Config\n\n## To filter contacts against a whitelist:\n### 1. Make a copy of [this spreadsheet](https://docs.google.com/spreadsheets/d/1tTz9BflstxVL18YG11Ny1eiDj3FcjvtZ619b_bHx8h4/edit?usp=sharing)\n**OR** create a Google Sheet with two columns:\n| **email**     | **company**      |\n\n\n### 2. Add whitelisted emails and their company as rows in the sheet and configure this node **Document** and **Sheet** to point to it.\n\n\n\n\n\n\n\n\n\n\n\n\n\n","height":660,"width":560,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4120,280],"id":"1f61ea45-49e6-4018-91ad-2144c1bbc19a","name":"Sticky Note4"},{"parameters":{"documentId":{"__rl":true,"value":"1gZE7EbLJqfMzQlPoCgE0eeqee_F1Lh9eIwhHsVmYKdw","mode":"list","cachedResultName":"Contacts Whitelist","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gZE7EbLJqfMzQlPoCgE0eeqee_F1Lh9eIwhHsVmYKdw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gZE7EbLJqfMzQlPoCgE0eeqee_F1Lh9eIwhHsVmYKdw/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"email","lookupValue":"={{ $('Gmail Trigger').item.json.from.value[0].address }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-3900,780],"id":"f7009cc2-8194-40c9-98e9-edc4a29c5ce8","name":"Lookup in Sheets","alwaysOutputData":false,"credentials":{"googleSheetsOAuth2Api":{"id":"63dUs6P8a2b5ed5J","name":"Google Sheets account"}}},{"parameters":{"resource":"fileFolder","queryString":"={{ $('Lookup in Sheets').item.json.company }}","filter":{"whatToSearch":"folders"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-3440,500],"id":"932afe12-3341-4f77-88ab-0b558e0d6ee2","name":"Search Company Folder1","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"VypmUgEf64twpmiZ","name":"Google Drive account"}}},{"parameters":{"content":"# 1. Trigger Settings and Filters\n\n## Configure the interval to check for new emails and apply filters to process only some emails\n\n**For example**: To create a filter that applies a label to emails **with attachments** containing the words \"invoice\" or \"receipt,\" follow these steps:\n\n1. Open your Gmail and click on the burger menu button next to the search bar to open the search options.\n2. In the `Has the words` field type in 'invoice receipt'\n3. Check the `Has attachment` checkbox\n4. Click on the \"Create filter with this search\" option at the bottom of the search window.\n5. In the filter options, select the \"Apply the label\" option and choose or create a label for these emails.\n6. Click \"Create filter\" to save your new filter.\n\n\n\n\n\n\n\n\n\n\n\n","height":660,"width":560,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4740,280],"id":"b9e66cf4-365a-4d11-bff9-48bf28be9e96","name":"Sticky Note"},{"parameters":{"content":"# 3. Configure storage location\n## Set where to store files from the `parent folder` dropdown","height":540,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3000,220],"id":"2a932450-d0e9-44b4-adfb-2254b8e6e547","name":"Sticky Note2"},{"parameters":{"inputDataFieldName":"=data","name":"={{ Date.now();}}-{{ $('Loop Over Items').item.binary.data.fileName }} ","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Search For Folder').first().json.id || $('Create Month Folder').item.json.id }}","mode":"id"},"options":{"propertiesUi":{"propertyValues":[{"key":"sender","value":"={{ $('Gmail').item.json.from.value[0].address }}"},{"key":"time_received","value":"={{ $('Gmail').item.json.date }}"}]},"ocrLanguage":"en"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1100,480],"id":"247e4ed7-ebff-4392-adf2-4a63e80e04f4","name":"Upload To Folder","credentials":{"googleDriveOAuth2Api":{"id":"VypmUgEf64twpmiZ","name":"Google Drive account"}}},{"parameters":{"content":"# 4\n## Enable the **Save Execution Highlights** node to save:\n- Sender\n- Subject\n- Date\n\nOR add any field you want to make searchable","height":540,"width":280,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-860,-20],"id":"11d4e197-61f1-4908-9636-dc74f7cb4111","name":"Sticky Note1"},{"parameters":{"dataToSave":{"values":[{"key":"from","value":"={{ $('Gmail Trigger').item.json.from.value[0].name }}:{{ $('Gmail Trigger').item.json.from.value[0].address }}"},{"key":"subject","value":"={{ $('Gmail Trigger').item.json.subject }}"},{"key":"date","value":"={{ $('Gmail Trigger').item.json.date }}"},{}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[-800,300],"id":"dfaf805e-e7c3-4a43-b6a5-0cb85f30d087","name":"Save Execution Highlights","disabled":true}],"connections":{"Search For Folder":{"main":[[{"node":"Check If Folder Exists","type":"main","index":0}]]},"Create Month Folder":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Check If Folder Exists":{"main":[[{"node":"Gmail","type":"main","index":0}],[{"node":"Create Month Folder","type":"main","index":0}]]},"Gmail Trigger":{"main":[[{"node":"Lookup in Sheets","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Split Up Binary Data1","type":"main","index":0}]]},"Split Up Binary Data1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"YYYY/MM":{"main":[[{"node":"Search For Folder","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Save Execution Highlights","type":"main","index":0}],[{"node":"Upload To Folder","type":"main","index":0}]]},"Company Folder Exists":{"main":[[{"node":"YYYY/MM","type":"main","index":0}],[{"node":"Create Company Folder","type":"main","index":0}]]},"Create Company Folder":{"main":[[{"node":"YYYY/MM","type":"main","index":0}]]},"Lookup in Sheets":{"main":[[{"node":"Search Company Folder1","type":"main","index":0}]]},"Search Company Folder1":{"main":[[{"node":"Company Folder Exists","type":"main","index":0}]]},"Upload To Folder":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Save Execution Highlights":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c35d7d63-f00b-4eb5-a867-a25662ba0379","triggerCount":0,"shared":[{"createdAt":"2025-04-07T19:47:53.076Z","updatedAt":"2025-04-07T19:47:53.076Z","role":"workflow:owner","workflowId":"qc2uk6hYN6f3KZ4I","projectId":"eJmXvMfwlB4M0OPl"}],"tags":[]}