not-reviewed/WooCommerce-HubSpot_Customer_Sync_(Webhook)/1762005685453-Template.json
{"createdAt":"2025-09-08T09:50:33.558Z","updatedAt":"2025-09-09T13:16:40.000Z","id":"HeGSfnWDCgHkbQjC","name":"WooCommerce-HubSpot Customer Sync (Webhook)","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2032,48],"id":"11d6e5e3-7438-4043-9420-acc788c4c393","name":"Replace with notification node or workflow execution2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1584,0],"id":"46ee91b9-a345-44e1-9b6e-c1159ecdcbb6","name":"Replace with notification node or workflow execution3"},{"parameters":{"event":"customer.created"},"type":"n8n-nodes-base.wooCommerceTrigger","typeVersion":1,"position":[-3136,256],"id":"8a9b0427-15ea-4154-a015-ec40029b8ebc","name":"WooCommerce Trigger","webhookId":"a90f3c98-6732-447e-91b8-966108b18ed0","credentials":{"wooCommerceApi":{"id":"Dsq5shoik9qjm7FD","name":"grafit.scavenger.dev"}}},{"parameters":{"assignments":{"assignments":[{"id":"15e3d8d0-9fee-4a74-88e8-e77b3fd46523","name":"sync_origin_metadata","value":true,"type":"boolean"},{"id":"e1c29339-be0d-4db1-9a56-083397d05f5c","name":"update_existing_contacts","value":true,"type":"boolean"},{"id":"60a4d027-c9eb-4622-a3b9-ed9481daa096","name":"notifications","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2720,256],"id":"20ac88fb-2c12-4998-9035-98c84ce21d85","name":"Conf"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d63cc3d-875c-4839-94ea-62d87231dff3","leftValue":"={{ $json.notifications }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2336,64],"id":"430ca4d0-c34d-4228-b1c6-baf93a4c03f3","name":"If"},{"parameters":{"mode":"raw","jsonOutput":"={{ $('WooCommerce Trigger').item.json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1936,256],"id":"4d1d9318-bb07-4468-99ce-c3386d08b773","name":"Get WooCommerce Customer from webhook"},{"parameters":{"method":"POST","url":"https://api.hubapi.com/crm/v3/objects/contacts/search","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filterGroups\": [\n    {\n      \"filters\": [\n        {\n          \"propertyName\": \"email\",\n          \"operator\": \"EQ\",\n          \"value\": \"{{  $json.email }}\"\n        }\n      ]\n    }\n  ],\n  \"properties\": [\"email\", \"firstname\", \"lastname\"]\n}   ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1680,112],"id":"f43e5dac-9a49-4cea-9c9c-de01f2538a41","name":"Lookup in hubspot by email","credentials":{"hubspotAppToken":{"id":"a8A0heYwRlMmKZAa","name":"HubSpot account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a7b81fe7-6c08-4ea2-9597-319856b8695d","leftValue":"={{ $json.results }}","rightValue":0,"operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1440,112],"id":"288bbf03-7494-45c1-be11-2662598894fb","name":"Contact Exists"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5720da52-a2cf-4e55-9c5c-9718f1fe37a5","leftValue":"={{ $('Conf').item.json[\"update_existing_contacts\"] }}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1040,96],"id":"1ecc0dcc-69c3-4f3e-865b-c782ce1a887f","name":"Update Existing Contacts enabled","notesInFlow":false,"alwaysOutputData":false,"executeOnce":false},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-816,240],"id":"1c49b6eb-bd2f-48f0-986f-b327f19508b5","name":"Merge"},{"parameters":{"batchSize":100,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-512,240],"id":"0b4ed8b6-da4d-4fbd-8702-6c4fafb6e905","name":"Loop Over New Customers"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d63cc3d-875c-4839-94ea-62d87231dff3","leftValue":"={{ $('Conf').item.json.notifications }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1248,-16],"id":"24686bdd-9e10-4660-9e1e-3a435260d7fa","name":"If2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"40f1dc8f-c982-4081-9797-2a1c92992a6d","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"1dc87f14-30e7-46e2-b31f-585755a28914","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-240,304],"id":"00a4c3aa-a3ec-492e-a075-272ee0431f85","name":"Has Email"},{"parameters":{"authentication":"appToken","email":"={{ $json.email }}","additionalFields":{"city":"={{ $json.billing.city }}","country":"={{ $json.billing.country }}","countryRegionCode":"={{ $json.billing.postcode }}","firstName":"={{ $json.first_name || $json.billing.first_name }}","lastName":"={{ $json.last_name ||$json.billing.last_name }}","lifeCycleStage":"customer","phoneNumber":"={{ $json.billing.phone }}","postalCode":"={{ $json.billing.postcode }}","streetAddress":"={{ $json.billing.address_1 }} {{ $json.billing.address_2 }}"},"options":{"resolveData":false}},"type":"n8n-nodes-base.hubspot","typeVersion":2.1,"position":[128,288],"id":"7abab21e-57c3-48da-984e-061d1b8a89bb","name":"Create or update a Contact","credentials":{"hubspotAppToken":{"id":"a8A0heYwRlMmKZAa","name":"HubSpot account"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c13fe47d-27a2-4cf1-84ff-ef82514c251b","leftValue":"={{ $('Conf').item.json.sync_origin_metadata }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"9ae6358b-2502-4f6d-9966-5b24364aadab","leftValue":"={{ $json.properties.origin_site.value }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[768,416],"id":"8f3d39f1-9480-4906-8754-da22c4482049","name":"If Custom Properties enabled"},{"parameters":{"authentication":"appToken","email":"={{ $('Has Email').item.json.email }}","additionalFields":{"customPropertiesUi":{"customPropertiesValues":[{"property":"origin_site","value":"={{ $('Has Email').item.json._links.collection[0].href.extractDomain() }}"}]}},"options":{"resolveData":false}},"type":"n8n-nodes-base.hubspot","typeVersion":2.1,"position":[1120,480],"id":"84ab3354-275f-46b5-a87b-47e5937f3c25","name":"Update Contact with custom properties","credentials":{"hubspotAppToken":{"id":"a8A0heYwRlMmKZAa","name":"HubSpot account"}},"onError":"continueErrorOutput"},{"parameters":{"content":"# 1. 🔄 Real-Time Sync via Webhook\n\n## How it works:\nEnables instant synchronization when new customers are created in WooCommerce through webhook triggers.\n\n## Configuration:\n### Webhook Setup | [Required] \nFollow WooCommerce documentation to [Create a webhook](https://woocommerce.com/document/webhooks/#creating-webhooks):\n- **Topic**: `Customer Created`\n- **Delivery URL**: Use this trigger node's webhook URL\n- **Status**: Activate after configuration\n\n### Trigger Activation | [Required]\nEnable this trigger node/workflow in n8n to start receiving webhook payloads\n\n#### Pro tip\n📝 Webhooks provide real-time sync with minimal API overhead, however they are inherently prone to data loss. Detecting and restoring missed events is also challenging. Consider combining this workflow with scheduled full data sync.","height":944,"width":304,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3296,-576],"id":"a79aa4da-66a3-4276-b084-5f187968129e","name":"Sticky Note1"},{"parameters":{"content":"# 2. ⚙️ Workflow Configuration\n## How it works:\nCentral hub for all synchronization settings. Controls contact update behavior and origin tracking.\n\n## Configuration:\n### `sync_origin_metadata` | [true/false] | Default: true\nSet `true`/`false` to enable/disable WooCommerce domain tracking\n\n📝 Create **origin_site** contact property in HubSpot first\n🔒 Existing values are preserved (no overwrite)\n\n### `update_existing_contacts` | [true/false] | Default: false\nSet `true` to always update contacts with incoming data, `false` to only create new contacts.\n\n⚡ false reduces API load for large stores but only sends contact data to HubSpot if contact with the same email doesn't exist.\n\n\n### `notifications` | [true/false] | Default: false\nSet `true`/`false` to enable/disable start/end notifications\n   - 🔔 Add your preferred notification method (Email, Slack, etc.) ","height":896,"width":576,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-2960,-480],"typeVersion":1,"id":"b11a4144-48c9-4deb-8a5e-2618d53b792c","name":"Sticky Note3"},{"parameters":{"content":"# 3. 🔔 (Optional) Configure Notifications\n\n## How it works:\nAdd custom notifications when the workflow starts executing for monitoring and alerting purposes.\n\n## Configuration:\n### Notification Setup\nConfigure **notifications:true** in the **Conf** node\n\nReplace this node with your preferred notification method:\n- **Email**: Send start/end alerts via email\n- **Messaging Apps**: Slack, Teams, Telegram, etc.\n- **Webhooks**: Trigger other n8n workflows or external services\n- **Custom**: Any supported n8n notification node","height":800,"width":416,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-2192,-592],"typeVersion":1,"id":"34801b0e-d074-497e-8d9e-27c285c4e6dd","name":"Sticky Note"},{"parameters":{"content":"# 7. 🔔 (Optional) Configure Notifications\n\n## How it works:\nAdd custom notifications when the workflow ends executing for monitoring and alerting purposes.\n\n## Configuration:\n### Notification Setup\nConfigure **notifications:true** in the **Conf** node\n\nReplace this node with your preferred notification method:\n- **Email**: Send start/end alerts via email\n- **Messaging Apps**: Slack, Teams, Telegram, etc.\n- **Webhooks**: Trigger other n8n workflows or external services\n- **Custom**: Any supported n8n notification node","height":704,"width":416,"color":7},"type":"n8n-nodes-base.stickyNote","position":[1424,-528],"typeVersion":1,"id":"a1405681-540f-4886-8979-2e3e54754566","name":"Sticky Note8"},{"parameters":{"content":"# 4.⚙️ Configure HubSpot Credentials\n\nCreate a HubSpot App Token or setup OAuth2 API an configure the Authentication of theses nodes\n\nExample:\n- **Authentication**: Predefined Credential Type\n- **Credential Type**: HubSpot App Token OR HubSpot OAuth2 API\n\n","height":624,"width":272,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1728,-336],"id":"16384f95-555b-4c99-8155-6e4211387777","name":"Sticky Note4"},{"parameters":{"content":"# 5. 📋 Contact Field Mapping\n\n## How it works:\nMaps WooCommerce customer data to HubSpot contact properties. This node creates or updates contacts in HubSpot.\n\n\n## Customization:\n- Modify field mappings to match your HubSpot property names\n- Add additional WooCommerce → HubSpot field mappings as needed\n- Test with sample data to verify mapping accuracy\n\n💡 Configured to match existing contacts by email address\n🔧 Create HubSpot custom properties exist before mapping or the workflow will fail","height":912,"width":448,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-64,-448],"typeVersion":1,"id":"60e37ee7-4f3d-4303-b6c9-0132ee4a5fce","name":"Sticky Note7"},{"parameters":{"assignments":{"assignments":[{"id":"464e908d-697c-468d-a4ad-de14983725ae","name":"message","value":"Could not create/update record","type":"string"},{"id":"f2752e74-286a-4a24-bf03-ce3285f8d0a0","name":"error","value":"={{ $json.error }}","type":"string"},{"id":"c4efbd41-fae0-4ae5-8d6a-97fc614af5bf","name":"woo_customer","value":"={{ $('Loop Over New Customers').item.json }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,384],"id":"73384459-3609-4eba-bd35-49f4995511ab","name":"Error Details"},{"parameters":{"assignments":{"assignments":[{"id":"464e908d-697c-468d-a4ad-de14983725ae","name":"message","value":"Could not create/update record","type":"string"},{"id":"f2752e74-286a-4a24-bf03-ce3285f8d0a0","name":"error","value":"={{ $json.error }}","type":"string"},{"id":"c4efbd41-fae0-4ae5-8d6a-97fc614af5bf","name":"woo_customer","value":"={{ $('Loop Over New Customers').item.json }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1456,496],"id":"388caa6c-7a64-4e88-b22e-8090b3f617b3","name":"Error Details1"},{"parameters":{"content":"# 6. ⚙️ HubSpot Credentials\n\n## How it works\nUpdates the contact `origin_site` with the domain of woocommerce site\n\n## Configuration\nConfiugre HubSpot credentials","height":528,"width":352,"color":5},"type":"n8n-nodes-base.stickyNote","position":[1008,128],"typeVersion":1,"id":"e303284c-8aee-465e-9236-487aa2eb77d9","name":"Sticky Note2"}],"connections":{"WooCommerce Trigger":{"main":[[{"node":"Conf","type":"main","index":0}]]},"Conf":{"main":[[{"node":"If","type":"main","index":0},{"node":"Get WooCommerce Customer from webhook","type":"main","index":0}]]},"If":{"main":[[{"node":"Replace with notification node or workflow execution2","type":"main","index":0}]]},"Get WooCommerce Customer from webhook":{"main":[[{"node":"Lookup in hubspot by email","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Lookup in hubspot by email":{"main":[[{"node":"Contact Exists","type":"main","index":0}]]},"Contact Exists":{"main":[[{"node":"Update Existing Contacts enabled","type":"main","index":0}],[{"node":"Merge","type":"main","index":0}]]},"Update Existing Contacts enabled":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over New Customers","type":"main","index":0}]]},"Loop Over New Customers":{"main":[[{"node":"If2","type":"main","index":0}],[{"node":"Has Email","type":"main","index":0}]]},"If2":{"main":[[{"node":"Replace with notification node or workflow execution3","type":"main","index":0}]]},"Has Email":{"main":[[{"node":"Create or update a Contact","type":"main","index":0}],[{"node":"Loop Over New Customers","type":"main","index":0}]]},"Create or update a Contact":{"main":[[{"node":"If Custom Properties enabled","type":"main","index":0}],[{"node":"Error Details","type":"main","index":0}]]},"If Custom Properties enabled":{"main":[[{"node":"Update Contact with custom properties","type":"main","index":0}],[{"node":"Loop Over New Customers","type":"main","index":0}]]},"Update Contact with custom properties":{"main":[[{"node":"Loop Over New Customers","type":"main","index":0}],[{"node":"Error Details1","type":"main","index":0}]]},"Error Details":{"main":[[{"node":"Loop Over New Customers","type":"main","index":0}]]},"Error Details1":{"main":[[{"node":"Loop Over New Customers","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"WooCommerce Trigger":[{"json":{"id":6,"date_created":"2025-09-04T11:34:27","date_created_gmt":"2025-09-04T11:34:27","date_modified":"2025-09-04T11:34:28","date_modified_gmt":"2025-09-04T11:34:28","email":"sym38416@jioso.com","first_name":"","last_name":"","role":"customer","username":"sym38416","billing":{"first_name":"","last_name":"","company":"","address_1":"","address_2":"","city":"","postcode":"","country":"","state":"","email":"","phone":""},"shipping":{"first_name":"","last_name":"","company":"","address_1":"","address_2":"","city":"","postcode":"","country":"","state":"","phone":""},"is_paying_customer":false,"avatar_url":"https://secure.gravatar.com/avatar/e5d707b39845c930e410e12b841fc3aef54bba5cb9eb2bacfdc77b8f4d0e659f?s=96&d=mm&r=g","meta_data":[{"id":221,"key":"default_password_nag","value":"1"}],"_links":{"self":[{"href":"https://grafit.scavenger.dev/wp-json/wc/v3/customers/6","targetHints":{"allow":["GET","POST","PUT","PATCH","DELETE"]}}],"collection":[{"href":"https://grafit.scavenger.dev/wp-json/wc/v3/customers"}]}}}]},"versionId":"5f745b9f-2a8c-4b1f-aa1c-78861853fe54","triggerCount":0,"shared":[{"createdAt":"2025-09-08T09:50:33.571Z","updatedAt":"2025-09-08T09:50:33.571Z","role":"workflow:owner","workflowId":"HeGSfnWDCgHkbQjC","projectId":"eJmXvMfwlB4M0OPl"}],"tags":[]}