not-reviewed/UptimeRobot_Alerts_to_Telegram_with_Visual_Verification/1762345367047-Template.json
{"createdAt":"2025-04-12T13:53:59.401Z","updatedAt":"2025-11-05T12:08:46.000Z","id":"JvwIx6bl0q0kNs9I","name":"UptimeRobot Alerts to Telegram with Visual Verification","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const regex = /\\[(https:\\/\\/dashboard\\.uptimerobot\\.com\\/monitors\\/(\\d{9})\\?[^\\]]*)\\]/;\nconst statusMap = {\n  0: \"paused\",\n  1: \"not checked yet\",\n  2: \"up\",\n  8: \"seems down\",\n  9: \"down\"\n};\n\n// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.monitorUrl = $input.first().json.text.match(regex)?.[1];\n  item.json.monitorId = $input.first().json.text.match(regex)?.[2];\n}\n\nreturn $input.all();"},"id":"fd15d251-e71c-4392-a076-8e271c587fb0","name":"Extract ID and URL","type":"n8n-nodes-base.code","position":[1280,816],"typeVersion":2},{"parameters":{"jsCode":"const statusMap = {\n  0: \"paused\",\n  1: \"not checked yet\",\n  2: \"up\",\n  8: \"seems down\",\n  9: \"down\"\n};\n\n// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\nitem.json.monitorStatus = statusMap[$input.first().json.status] || \"unknown\"; // Fallback to \"unknown\" if invalid\nitem.json.lastStatusChange = $input.first().json.logs[0].datetime || \"unknown\";\nitem.json.lastStatusChangeReason = $input.first().json.logs[0].reason.detail || \"unknown\";\n}\n\nreturn $input.all();"},"id":"d205d1cd-d19e-4a82-a447-e7e0152b8198","name":"Extract Status Details","type":"n8n-nodes-base.code","position":[2064,816],"typeVersion":2,"onError":"continueErrorOutput"},{"parameters":{"chatId":"your-chat-id-goes-here","text":"=🚦 Monitor Status Update\n\n📛 Monitor: {{ $('Extract Status Details').item.json.friendly_name }}\n\n🔄 Status: {{ \n  $('Extract Status Details').item.json.monitorStatus === 'up' \n    ? '✅ UP' \n    : $('Extract Status Details').item.json.monitorStatus === 'down' \n      ? '🔴 DOWN' \n      : $('Extract Status Details').item.json.monitorStatus === 'paused' \n        ? '⏸️ PAUSED' \n        : '⚠️ ' + $('Extract Status Details').item.json.monitorStatus\n}}\n\n⏰ Last Changed: {{ new Date($('Extract Status Details').item.json.lastStatusChange * 1000).toLocaleString() }}\n\n📝 Reason: `{{ $('Extract Status Details').item.json.lastStatusChangeReason || 'N/A' }}`\n\n🔗 Monitor: {{ \"https://dashboard.uptimerobot.com/monitors/\"+ $('Extract Status Details').item.json.id }}","additionalFields":{"appendAttribution":false}},"id":"5a0e2d91-0bb6-4932-a600-8ff5289dc1a2","name":"Send a text message","type":"n8n-nodes-base.telegram","position":[3504,944],"webhookId":"889e3369-dea1-4968-9e91-9433535c79ba","typeVersion":1.2,"credentials":{"telegramApi":{"id":"zOyZS1KQgzAKuMtI","name":"Telegram account"}}},{"parameters":{"operation":"sendPhoto","chatId":"your-chat-id-goes-here","binaryData":true,"additionalFields":{"caption":"=🚦 Monitor Status Update\n\n📛 Monitor: {{ $('Extract Status Details').item.json.friendly_name }}\n\n🔄 Status: {{ \n  $('Extract Status Details').item.json.monitorStatus === 'up' \n    ? '✅ UP' \n    : $('Extract Status Details').item.json.monitorStatus === 'down' \n      ? '🔴 DOWN' \n      : $('Extract Status Details').item.json.monitorStatus === 'paused' \n        ? '⏸️ PAUSED' \n        : '⚠️ ' + $('Extract Status Details').item.json.monitorStatus\n}}\n\n⏰ Last Changed: {{ new Date($('Extract Status Details').item.json.lastStatusChange * 1000).toLocaleString() }}\n\n📝 Reason: `{{ $('Extract Status Details').item.json.lastStatusChangeReason || 'N/A' }}`\n\n🔗 Monitor: {{ \"https://dashboard.uptimerobot.com/monitors/\"+ $('Extract Status Details').item.json.id }}","fileName":"screenshot.png"}},"id":"41cf30a5-cdb1-402d-a1ca-eff81fe1604c","name":"Send a photo message","type":"n8n-nodes-base.telegram","position":[3504,624],"webhookId":"58ee819b-ac78-48b0-a4a2-36396607d11f","typeVersion":1.2,"credentials":{"telegramApi":{"id":"zOyZS1KQgzAKuMtI","name":"Telegram account"}}},{"parameters":{"value":"={{$('Extract Status Details').item.json.url + $('Conf').item.json.screenshotmachine_secret}}","dataPropertyName":"hash"},"id":"7c21fec5-b388-4bba-ae97-7e58d0a1c386","name":"Screenshotmachine-secret","type":"n8n-nodes-base.crypto","position":[2592,656],"typeVersion":1},{"parameters":{"url":"https://api.screenshotmachine.com","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"url","value":"={{ $('Extract Status Details').item.json.url }}"},{"name":"dimension","value":"={{ $('Conf').item.json.screenshotmachine_dimension }}"},{"name":"device","value":"={{$('Conf').item.json.screenshotmachine_device}}"},{"name":"format","value":"={{$('Conf').item.json.screenshotmachine_format}}"},{"name":"hash","value":"={{ $json.hash }}"}]},"options":{}},"id":"b2884a5e-0a41-4a80-a6e0-3c5467fed795","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","position":[2944,656],"typeVersion":4.2,"credentials":{"httpQueryAuth":{"id":"LWirmPTloM5aKiku","name":"Query Auth account"}},"onError":"continueErrorOutput"},{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":5,"unit":"minutes"}]},"simple":false,"filters":{"sender":"alert@uptimerobot.com"},"options":{}},"id":"4aab0436-3fcd-4917-9b6e-e85f4936a012","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","position":[384,816],"typeVersion":1.2,"credentials":{"gmailOAuth2":{"id":"HI2iZSvhvC5XOdpp","name":"Gmail account 2"}}},{"parameters":{"resource":"monitor","filters":{"alert_contacts":true,"logs":true,"mwindow":true,"monitors":"={{ $('Extract ID and URL').first().json.monitorId }}"}},"id":"4b4ae32b-f566-46a3-aec6-6b1f6e1d9de9","name":"Get many monitors","type":"n8n-nodes-base.uptimeRobot","position":[1680,816],"typeVersion":1,"credentials":{"uptimeRobotApi":{"id":"mMuD3pmTC8dMUjCK","name":"Uptime Robot account"}}},{"parameters":{"assignments":{"assignments":[{"id":"0439ef08-5f5d-4462-8d26-461553c19a8f","name":"take_screenshot","type":"boolean","value":true},{"id":"9bb41b66-e203-44d7-9b47-a871820f9dfb","name":"screenshotmachine_secret","type":"string","value":"your-secret-goes-here"},{"id":"82ffd79c-fd61-443e-94d4-1234a6279ca8","name":"screenshotmachine_device","type":"string","value":"desktop"},{"id":"5817b498-bf20-43fc-9d02-db6683457f4f","name":"screenshotmachine_dimension","type":"string","value":"1366xfull"},{"id":"8f15e188-2a9f-4b6e-a0d7-c36bfeac9c8c","name":"screenshotmachine_format","type":"string","value":"png"}]},"options":{}},"id":"b341472b-3d6b-4bbc-8791-c2b115522698","name":"Conf","type":"n8n-nodes-base.set","position":[864,816],"typeVersion":3.4},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"49483f42-43d4-4a27-87a1-07fd2009b001","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{$('Conf').item.json.take_screenshot}}","rightValue":""}]},"options":{}},"id":"b0465468-533c-4110-b339-a23954a2f24b","name":"If Screenshot Required","type":"n8n-nodes-base.if","position":[2320,784],"typeVersion":2.2},{"parameters":{"content":"# 1. Gmail Trigger\n\n## How it works:\nGmail Trigger runs on regular intervals and checks for new emails from sender: alert@uptimerobot.com\n\n## Configuration:\n\n1. Choose/Create **Credentials to connect with** for the Gmail account that will receive email notifications from UptimeRobot\n2. Configure **Poll times** (default is every 5 minutes)\n3. _(Optional)_ Adjust the sender filter if the email doesn't match the one you are receiving emails from.","height":880,"width":360,"color":5},"id":"4f2ae82d-f8fd-47ad-a838-7c6ce0a19e3a","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[240,64],"typeVersion":1},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n# Extract ID and URL\n\n## How it works:\nThis node parses UptimeRobot alert emails to extract:\n- Monitor dashboard URL\n- Monitor ID (9-digit number)\n\n## Key Functions:\n1. Uses regex to find UptimeRobot monitor links in email text\n2. Extracts two key pieces of information:\n   - `monitorUrl`: Full dashboard URL\n   - `monitorId`: The 9-digit monitor ID\n\n## Technical Details:\n```javascript\nconst regex = /\\[(https:\\/\\/dashboard\\.uptimerobot\\.com\\/monitors\\/(\\d{9})\\?[^\\]]*)\\]/;\n// Matches URLs in the email body like: \n// [https://dashboard.uptimerobot.com/monitors/798811078?...]\n```\n## Troubleshooting:\n- If extraction fails, verify UptimeRobot email format hasn't changed\n- Check the regex pattern matches current alert emails","height":840,"width":400,"color":7},"id":"535b6302-6c78-46cb-be9e-6872454eee83","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1120,784],"typeVersion":1},{"parameters":{"content":"# 2. Workflow settings\n\n## How it works:\nCentral hub for all workflow settings. Controls screenshot behavior and parameters when enabled.\n\n## Configuration:\n\n1. **Basic Settings**:\n   - `take_screenshot`: Set `true`/`false` to enable/disable screenshots\n   \n2. **Screenshot Parameters** (if enabled):\n   - `screenshotmachine_secret`: Your secret phrase from ScreenshotMachine\n   - `screenshotmachine_device`: `desktop` or `mobile`\n   - `screenshotmachine_dimension`: Recommended `1366xfull` for full-page\n   - `screenshotmachine_format`: `png` (recommended) or `jpg`\n\n## Pro Tip:\nTest different dimensions/devices to find the optimal screenshot configuration for your monitored websites.","height":880,"width":360,"color":5},"id":"1781abf5-1ad7-40ed-adbd-ddc81eaecb49","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[720,64],"typeVersion":1},{"parameters":{"content":"# 3. UptimeRobot Settings\n\n## How it works:\nFetches detailed monitor status using the extracted monitor ID from email alerts.\n\n## Configuration:\n1. **Credentials Setup**:\n   - Get API key from UptimeRobot dashboard\n   - Requires \"Monitor Read\" permissions\n   - [Follow n8n documentation](https://docs.n8n.io/integrations/builtin/credentials/uptimerobot/) for setup\n\n2. **Email Integration**:\n   - Ensure your UptimeRobot monitor is configured to send alerts to your Gmail\n   - Configure in UptimeRobot: \n     `Dashboard → Monitor → Alert Settings → Add Email Alert`\n\n\n## Pro Tip:\nTest API connection using UptimeRobot's API tester before configuring in n8n.","height":900,"width":360,"color":5},"id":"a6932139-a886-496d-8be7-16eb9394a1b4","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[1568,64],"typeVersion":1},{"parameters":{"content":"# 4. ScreenshotMachine (Optional)\n\n**Only needed if `take_screenshot=true` in Config**\n\n## Credential Setup:\n1. Create free account at [screenshotmachine.com](https://www.screenshotmachine.com/)\n2. Configure credentials as:\n   - **Type**: Generic Credential Type\n   - **Auth Type**: Query Auth\n   - **Name**: `key`\n   - **Value**: [Your Customer Key]\n\n## Plan Limits:\n❗ Free plan includes limited amount of screenshots/month. If you monitor a lot of websites or receive notifications often consider a paid plan.","height":760,"width":360,"color":5},"id":"24951799-7473-4f17-ab3a-6cae9d95bc8a","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[2848,64],"typeVersion":1},{"parameters":{"content":"# 5. Telegram Setup\n\n## Essentials:\n1. Create bot via [@BotFather](https://t.me/BotFather)\n2. Get your Chat ID using [@getidsbot](https://t.me/getidsbot)\n3. Configure credentials:\n   - **Bot Token**: From @BotFather\n   - **Chat ID**: Your target channel/group\n\n## Notification Types:\n- Always sends text alerts\n- Includes screenshots when enabled in Config\n\n[Official n8n Guide](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.telegram/)","height":1020,"width":360,"color":5},"id":"c6f6d970-7138-41f4-ba74-290eb2a82067","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[3360,64],"typeVersion":1}],"connections":{"Conf":{"main":[[{"node":"Extract ID and URL","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Send a photo message","type":"main","index":0}],[{"node":"Send a text message","type":"main","index":0}]]},"Gmail Trigger":{"main":[[{"node":"Conf","type":"main","index":0}]]},"Get many monitors":{"main":[[{"node":"Extract Status Details","type":"main","index":0}]]},"Extract ID and URL":{"main":[[{"node":"Get many monitors","type":"main","index":0}]]},"Extract Status Details":{"main":[[{"node":"If Screenshot Required","type":"main","index":0}]]},"If Screenshot Required":{"main":[[{"node":"Screenshotmachine-secret","type":"main","index":0}],[{"node":"Send a text message","type":"main","index":0}]]},"Screenshotmachine-secret":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8c12d8a8-2266-4c11-b80d-1490f1d65b8a","triggerCount":0,"shared":[{"createdAt":"2025-04-12T13:53:59.423Z","updatedAt":"2025-04-12T13:53:59.423Z","role":"workflow:owner","workflowId":"JvwIx6bl0q0kNs9I","projectId":"eJmXvMfwlB4M0OPl"}],"tags":[]}