not-reviewed/WooCommerce-HubSpot_Customer_Sync_(Polling)/1762005910519-Template.json
{"createdAt":"2025-09-08T17:28:16.768Z","updatedAt":"2025-09-09T13:16:25.000Z","id":"k9g8feRMYyA3jw0w","name":"WooCommerce-HubSpot Customer Sync (Polling)","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"15e3d8d0-9fee-4a74-88e8-e77b3fd46523","name":"sync_origin_metadata","value":true,"type":"boolean"},{"id":"e1c29339-be0d-4db1-9a56-083397d05f5c","name":"update_existing_contacts","value":true,"type":"boolean"},{"id":"60a4d027-c9eb-4622-a3b9-ed9481daa096","name":"notifications","value":true,"type":"boolean"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1808,592],"id":"b2baa190-dbac-4651-8dfc-7977740c7a7c","name":"Conf"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2832,736],"id":"cb532d93-0684-4e77-a1e7-0830b5017a96","name":"When clicking ‘Execute workflow’"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2832,592],"id":"d69d9043-3565-4888-a3b0-a2888278fdc4","name":"Schedule Trigger"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1488,384],"id":"6be4c183-a567-43fa-af36-e356cb60536c","name":"Loop Over New Customers"},{"parameters":{"authentication":"appToken","email":"={{ $json.email }}","additionalFields":{"city":"={{ $json.billing.city }}","country":"={{ $json.billing.country }}","countryRegionCode":"={{ $json.billing.postcode }}","firstName":"={{ $json.first_name || $json.billing.first_name }}","lastName":"={{ $json.last_name ||$json.billing.last_name }}","lifeCycleStage":"customer","phoneNumber":"={{ $json.billing.phone }}","postalCode":"={{ $json.billing.postcode }}","streetAddress":"={{ $json.billing.address_1 }} {{ $json.billing.address_2 }}"},"options":{"resolveData":false}},"type":"n8n-nodes-base.hubspot","typeVersion":2.1,"position":[2240,592],"id":"27a32c98-7f36-4f3e-9c20-72c64109e94f","name":"Create or update a Contact","credentials":{"hubspotAppToken":{"id":"a8A0heYwRlMmKZAa","name":"HubSpot account"}},"onError":"continueErrorOutput"},{"parameters":{"url":"=https://{{ $json.site }}/wp-json/wc/v3/customers","authentication":"predefinedCredentialType","nodeCredentialType":"wooCommerceApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"per_page","value":"100"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"json"}},"pagination":{"pagination":{"paginationMode":"responseContainsNextURL","nextURL":"={{\n\t$response.headers.link\n\t\t? $response.headers.link.split(',').find(link => link.includes('rel=\"next\"'))?.match(/<([^>]+)>/)?.[1] \n\t\t: null\n}}","paginationCompleteWhen":"other","completeExpression":"={{\n\t// Return true to STOP pagination when there's no 'next' page\n\t!$response.headers.link || !$response.headers.link.includes('rel=\"next\"')\n}}","requestInterval":1000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-576,592],"id":"682ed67a-492e-49a7-b565-210e0b0fc5e8","name":"Get all WooCommerce customers","executeOnce":false,"retryOnFail":false,"credentials":{"wooCommerceApi":{"id":"Dsq5shoik9qjm7FD","name":"grafit.scavenger.dev"}},"onError":"continueErrorOutput"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"email","renameField":true,"outputFieldName":"inputs"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-160,368],"id":"051177a3-cc6c-428e-9bd7-541bff52fad7","name":"Extract email list"},{"parameters":{"fieldToSplitOut":"body","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-320,368],"id":"f971fb75-c9ad-43d1-8386-9721ee87f00d","name":"Split Out Customers"},{"parameters":{"method":"POST","url":"https://api.hubapi.com/crm/v3/objects/contacts/search","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filterGroups\": [\n    {\n      \"filters\": [\n        {\n          \"propertyName\": \"email\",\n          \"operator\": \"IN\",\n          \"values\": {{  $json.inputs.toJsonString() }}\n        }\n      ]\n    }\n  ],\n  \"properties\": [\"email\", \"firstname\", \"lastname\"]\n}   ","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,368],"id":"ab545749-803d-40bf-8fc6-f0d6174926c9","name":"Lookup emails in hubspot contacts","credentials":{"hubspotAppToken":{"id":"a8A0heYwRlMmKZAa","name":"HubSpot account"}}},{"parameters":{"fieldToSplitOut":"body.results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[304,368],"id":"40dbebfc-d9b3-49b2-be41-f68d2fd9078d","name":"Split out matching contacts"},{"parameters":{"fieldToSplitOut":"body","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[304,576],"id":"359603a5-6e80-4b30-9a59-662341b3e494","name":"Split Out WooCommerce customers"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"40f1dc8f-c982-4081-9797-2a1c92992a6d","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"1dc87f14-30e7-46e2-b31f-585755a28914","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1760,480],"id":"bc90869e-b7d8-4600-a7ac-07bb0f23c893","name":"Has Email"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c13fe47d-27a2-4cf1-84ff-ef82514c251b","leftValue":"={{ $('Conf').item.json.sync_origin_metadata }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"eab8f00a-f53f-4b14-8fc0-4b070044418b","leftValue":"={{ $json.properties.origin_site.value}}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2640,752],"id":"6a8268b1-6fa8-4ab7-bca1-5dbb7b018aba","name":"If Custom Properties enabled"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"properties.email","field2":"email"}]},"outputDataFrom":"input2","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[736,560],"id":"c12ca141-14e0-43a4-8ff7-c4e17eead3f4","name":"Keep Existing Contacts"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"properties.email","field2":"email"}]},"joinMode":"keepNonMatches","outputDataFrom":"input2","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[736,384],"id":"4b357bf4-564a-489d-83e0-58d6ea745232","name":"Keep New Contacts"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5720da52-a2cf-4e55-9c5c-9718f1fe37a5","leftValue":"={{ $('Conf').item.json[\"update_existing_contacts\"] }}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[976,560],"id":"d68abb78-908f-42d1-91b5-0e28fc5c3adf","name":"Update Existing Contacts enabled","notesInFlow":false,"alwaysOutputData":false,"executeOnce":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d63cc3d-875c-4839-94ea-62d87231dff3","leftValue":"={{ $json.notifications }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1296,288],"id":"b082a44b-b683-40c1-97ce-69129d39e6be","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1024,272],"id":"3848754a-4d76-4aef-b7ca-c11540bad92c","name":"Replace with notification node or workflow execution"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d63cc3d-875c-4839-94ea-62d87231dff3","leftValue":"={{ $('Conf').item.json.notifications }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2992,368],"id":"cd5b67fa-6c3e-463d-b0db-e0fa0193af7a","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3392,352],"id":"f3d6f6ab-2f16-4bf6-aedb-1c17e9534d51","name":"Replace with notification node or workflow execution1"},{"parameters":{"content":"## Scheduled/Manual Full contact sync via Polling\n### 1. Configure a time interval for the Schedule trigger.\n    Avoid too aggressive schedules.\n    Consider off-peak scheduling.\n### 2. Set the full domain of the WooCommerce website in the Set Domain node. (i.e. www.yourwoocommercesite.com)\n    For multiple stores setup this workflow then duplicate it and adjust domain and credentials \n\n\n\n","height":592,"width":992},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3104,304],"id":"fc3529a8-de96-4f00-9a03-27dd8e6b8843","name":"Sticky Note1"},{"parameters":{"content":"# 2. ⚙️ Workflow Configuration\n## How it works:\nCentral hub for all synchronization settings. Controls contact update behavior and origin tracking.\n\n## Configuration:\n### `sync_origin_metadata` | [true/false] | Default: true\nSet `true`/`false` to enable/disable WooCommerce domain tracking\n\n📝 Create **origin_site** contact property in HubSpot first\n🔒 Existing values are preserved (no overwrite)\n\n### `update_existing_contacts` | [true/false] | Default: false\nSet `true` to always update contacts with incoming data, `false` to only create new contacts.\n\n⚡ false reduces API load for large stores but only sends contact data to HubSpot if contact with the same email doesn't exist.\n\n\n### `notifications` | [true/false] | Default: false\nSet `true`/`false` to enable/disable start/end notifications\n   - 🔔 Add your preferred notification method (Email, Slack, etc.) ","height":1072,"width":576,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-2016,-160],"typeVersion":1,"id":"9ccd3706-a7c8-40d2-a2dc-b88f000c5a5a","name":"Sticky Note3"},{"parameters":{"assignments":{"assignments":[{"id":"e3dd1a7e-6f98-4dde-b1bf-7963e6aa49f8","name":"site","value":"grafit.scavenger.dev","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2240,592],"id":"87f87b48-f5da-462e-a267-05df0d4844af","name":"Set Domain"},{"parameters":{"content":"# 3. 🔔 (Optional) Configure Notifications\n\n## How it works:\nAdd custom notifications when the workflow starts executing for monitoring and alerting purposes.\n\n## Configuration:\n### Notification Setup\nConfigure **notifications:true** in the **Conf** node\n\nReplace this node with your preferred notification method:\n- **Email**: Send start/end alerts via email\n- **Messaging Apps**: Slack, Teams, Telegram, etc.\n- **Webhooks**: Trigger other n8n workflows or external services\n- **Custom**: Any supported n8n notification node","height":672,"width":416,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-1168,-256],"typeVersion":1,"id":"68eff762-ac64-4106-a414-2efcb051aeca","name":"Sticky Note2"},{"parameters":{"content":"# 5.⚙️ Configure HubSpot Credentials\n\nCreate a HubSpot App Token or setup OAuth2 API an configure the Authentication of theses nodes\n\nExample:\n- **Authentication**: Predefined Credential Type\n- **Credential Type**: HubSpot App Token OR HubSpot OAuth2 API\n\n","height":656,"width":272,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-16,-96],"id":"a7cf039f-0c21-49c3-a861-0a14ef5ea8a7","name":"Sticky Note4"},{"parameters":{"content":"# 4.⚙️ Configure WooCommerce Credentials\n\nCreate a WooCommerce API key and configure the Authentication of this node\n\nExample:\n- **Authentication**: Predefined Credential Type\n- **Credential Type**: WooCommerce API\n\n","height":864,"width":288,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-672,-96],"id":"ff8ac238-6efa-4bad-8ee3-f1e4f72ec4ee","name":"Sticky Note6"},{"parameters":{"content":"# 6. 📋 Contact Field Mapping\n\n## How it works:\nMaps WooCommerce customer data to HubSpot contact properties. This node creates or updates contacts in HubSpot.\n\n\n## Customization:\n- Modify field mappings to match your HubSpot property names\n- Add additional WooCommerce → HubSpot field mappings as needed\n- Test with sample data to verify mapping accuracy\n\n💡 Configured to match existing contacts by email address\n🔧 Create HubSpot custom properties exist before mapping or the workflow will fail","height":736,"width":512,"color":4},"type":"n8n-nodes-base.stickyNote","position":[2048,0],"typeVersion":1,"id":"db683240-6a83-4347-bdd6-73269757e549","name":"Sticky Note7"},{"parameters":{"authentication":"appToken","email":"={{ $('Has Email').item.json.email }}","additionalFields":{"customPropertiesUi":{"customPropertiesValues":[{"property":"origin_site","value":"={{ $('Has Email').item.json._links.collection[0].href.extractDomain() }}"},{"property":"origin_id","value":"={{ $('Has Email').item.json.id }}"}]}},"options":{"resolveData":false}},"type":"n8n-nodes-base.hubspot","typeVersion":2.1,"position":[2944,864],"id":"b3fc99fb-dc67-409d-a103-089389907776","name":"Update Contacts with Origin Site","credentials":{"hubspotAppToken":{"id":"a8A0heYwRlMmKZAa","name":"HubSpot account"}},"onError":"continueErrorOutput"},{"parameters":{"content":"# 8. 🔔 (Optional) Configure Notifications\n\n## How it works:\nAdd custom notifications when the workflow ends executing for monitoring and alerting purposes.\n\n## Configuration:\n### Notification Setup\nConfigure **notifications:true** in the **Conf** node\n\nReplace this node with your preferred notification method:\n- **Email**: Send start/end alerts via email\n- **Messaging Apps**: Slack, Teams, Telegram, etc.\n- **Webhooks**: Trigger other n8n workflows or external services\n- **Custom**: Any supported n8n notification node","height":752,"width":416,"color":7},"type":"n8n-nodes-base.stickyNote","position":[3232,-176],"typeVersion":1,"id":"65a9ab6e-6735-4622-a31c-9e71e2d32159","name":"Sticky Note8"},{"parameters":{"assignments":{"assignments":[{"id":"464e908d-697c-468d-a4ad-de14983725ae","name":"message","value":"Could not create/update record","type":"string"},{"id":"f2752e74-286a-4a24-bf03-ce3285f8d0a0","name":"error","value":"={{ $json.error }}","type":"string"},{"id":"c4efbd41-fae0-4ae5-8d6a-97fc614af5bf","name":"woo_customer","value":"={{ $('Loop Over New Customers').item.json }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2400,736],"id":"9b520c82-5f27-4bfe-ae7d-e2091fd2aa3b","name":"Error Details"},{"parameters":{"assignments":{"assignments":[{"id":"464e908d-697c-468d-a4ad-de14983725ae","name":"message","value":"Could not create/update record","type":"string"},{"id":"f2752e74-286a-4a24-bf03-ce3285f8d0a0","name":"error","value":"={{ $json.error }}","type":"string"},{"id":"c4efbd41-fae0-4ae5-8d6a-97fc614af5bf","name":"woo_customer","value":"={{ $('Loop Over New Customers').item.json }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3264,864],"id":"8847c01b-9faf-4fb6-98be-f25f293b94df","name":"Error Details1"},{"parameters":{"content":"# 7. ⚙️ HubSpot Credentials\n\n## How it works\nUpdates the contact `origin_site` with the domain of woocommerce site\n\n## Configuration\nConfiugre HubSpot credentials","height":528,"width":352,"color":5},"type":"n8n-nodes-base.stickyNote","position":[2832,528],"typeVersion":1,"id":"b1c0e6ad-4daf-4298-a235-db2904917c60","name":"Sticky Note"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1216,400],"id":"a065f718-91b9-4c9f-a5e1-30e068dce9c4","name":"Merge1"}],"connections":{"Conf":{"main":[[{"node":"If","type":"main","index":0},{"node":"Get all WooCommerce customers","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Set Domain","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set Domain","type":"main","index":0}]]},"Loop Over New Customers":{"main":[[{"node":"If1","type":"main","index":0}],[{"node":"Has Email","type":"main","index":0}]]},"Create or update a Contact":{"main":[[{"node":"If Custom Properties enabled","type":"main","index":0}],[{"node":"Error Details","type":"main","index":0}]]},"Get all WooCommerce customers":{"main":[[{"node":"Split Out WooCommerce customers","type":"main","index":0},{"node":"Split Out Customers","type":"main","index":0}]]},"Extract email list":{"main":[[{"node":"Lookup emails in hubspot contacts","type":"main","index":0}]]},"Split Out Customers":{"main":[[{"node":"Extract email list","type":"main","index":0}]]},"Lookup emails in hubspot contacts":{"main":[[{"node":"Split out matching contacts","type":"main","index":0}]]},"Split out matching contacts":{"main":[[{"node":"Keep New Contacts","type":"main","index":0},{"node":"Keep Existing Contacts","type":"main","index":0}]]},"Split Out WooCommerce customers":{"main":[[{"node":"Keep New Contacts","type":"main","index":1},{"node":"Keep Existing Contacts","type":"main","index":1}]]},"Has Email":{"main":[[{"node":"Create or update a Contact","type":"main","index":0}],[{"node":"Loop Over New Customers","type":"main","index":0}]]},"If Custom Properties enabled":{"main":[[{"node":"Update Contacts with Origin Site","type":"main","index":0}],[{"node":"Loop Over New Customers","type":"main","index":0}]]},"Keep New Contacts":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Keep Existing Contacts":{"main":[[{"node":"Update Existing Contacts enabled","type":"main","index":0}]]},"Update Existing Contacts enabled":{"main":[[{"node":"Merge1","type":"main","index":1}],[]]},"If":{"main":[[{"node":"Replace with notification node or workflow execution","type":"main","index":0}]]},"If1":{"main":[[{"node":"Replace with notification node or workflow execution1","type":"main","index":0}]]},"Set Domain":{"main":[[{"node":"Conf","type":"main","index":0}]]},"Update Contacts with Origin Site":{"main":[[{"node":"Loop Over New Customers","type":"main","index":0}],[{"node":"Error Details1","type":"main","index":0}]]},"Error Details":{"main":[[{"node":"Loop Over New Customers","type":"main","index":0}]]},"Error Details1":{"main":[[{"node":"Loop Over New Customers","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Loop Over New Customers","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e6ac8dcb-1fd5-4a70-880a-a06285c5380e","triggerCount":0,"shared":[{"createdAt":"2025-09-08T17:28:16.785Z","updatedAt":"2025-09-08T17:28:16.785Z","role":"workflow:owner","workflowId":"k9g8feRMYyA3jw0w","projectId":"eJmXvMfwlB4M0OPl"}],"tags":[]}