not-reviewed/WooCommerce-HubSpot_Orders_Sync_(Polling)/1762083396098-Template.json
{"createdAt":"2025-09-08T18:53:36.090Z","updatedAt":"2025-11-01T13:47:55.000Z","id":"gJAHLDDyj7YEq9E9","name":"WooCommerce-HubSpot Orders Sync (Polling)","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.hubapi.com/crm/v3/objects/order/search","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filterGroups\": [\n    {\n      \"filters\": [\n        {\n          \"propertyName\": \"hs_external_order_id\",\n          \"operator\": \"EQ\",\n          \"value\": \"{{ $json.orders.id }}\"\n        }\n      ]\n    }\n  ],\n  \"properties\": [\"email\", \"firstname\", \"lastname\"]\n}   ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-256,1216],"id":"ebed14c2-3687-467e-8b82-a48947eb944c","name":"Create hubspot Order1","credentials":{"hubspotAppToken":{"id":"a8A0heYwRlMmKZAa","name":"HubSpot account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n    \"properties\": {\n        \"hs_product_id\": \"{{ $json.id }}\"\n    },\n    \"associations\": [{\n        \"types\": [{\n            \"associationCategory\": \"HUBSPOT_DEFINED\",\n            \"associationTypeId\": 514\n        }],\n        \"to\": {\n            \"id\": \"{{ $('Create hubspot Order').item.json.id }}\"\n        }\n    }]\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2224,1008],"id":"9f190638-5b20-4f1d-be03-425c8808f643","name":"Extract hubspot product id"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1872,1008],"id":"146caf1d-304c-4c2e-985d-4825fc66cc6d","name":"Split Out hubspot products"},{"parameters":{"method":"POST","url":"https://api.hubapi.com/crm/v3/objects/products/search","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filterGroups\": [\n    {\n      \"filters\": [\n        {\n          \"propertyName\": \"store_product_id\",\n          \"operator\": \"IN\",\n          \"values\": {{  $json.id.toJsonString() }}\n        }\n      ]\n    }\n  ],\n  \"properties\": [\"email\", \"firstname\", \"lastname\"]\n}   ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,1008],"id":"9593fac0-2e0d-4c02-a6d9-6025865f317c","name":"Find matching products by woocommerce product id","credentials":{"hubspotAppToken":{"id":"a8A0heYwRlMmKZAa","name":"HubSpot account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"id"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1296,1008],"id":"f22147d1-3a44-4898-b265-671ab9b2a4b6","name":"Prepare List of line item ids"},{"parameters":{"assignments":{"assignments":[{"id":"2b04a9fa-1c65-4585-8d5e-3776c7a3d23c","name":"id","value":"={{ $json.variation_id !== 0 ? $json.variation_id : $json.product_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1104,1008],"id":"3eeaa3e3-eec8-4546-874b-fce46abae270","name":"Extract product or variant id"},{"parameters":{"fieldToSplitOut":"line_items","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[880,880],"id":"0c0caadd-3cec-4f76-b190-d7f21e11f947","name":"Split Line Items"},{"parameters":{"mode":"raw","jsonOutput":"={\"line_items\":{{ $('Loop Over Items').item.json.orders.line_items.toJsonString() }}}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[688,880],"id":"e4ed8e9c-4754-42b3-af8a-7d728204b5f6","name":"Extract order line items"},{"parameters":{"method":"POST","url":"https://api.hubapi.com/crm/v3/objects/order","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"properties\": {{$json.toJsonString()}},\n  \"associations\": [\n    {\n      \"types\": [{\"associationCategory\": \"HUBSPOT_DEFINED\", \"associationTypeId\": 507}],\n      \"to\": {\"id\": \"{{ $('Loop Over Items').item.json.contact }}\"}\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,912],"id":"fb1d28d0-c532-45d8-ba3e-ee97a9407b3e","name":"Create hubspot Order","credentials":{"hubspotAppToken":{"id":"a8A0heYwRlMmKZAa","name":"HubSpot account"}}},{"parameters":{"assignments":{"assignments":[{"id":"ec086448-079e-4659-819f-3d844a962738","name":"hs_external_order_id","value":"={{$('Loop Over Items').item.json.orders.id}}","type":"string"},{"id":"10e89545-2771-4133-b409-d9be4d158740","name":"hs_external_order_status","value":"={{ $('Loop Over Items').item.json.orders.status }}","type":"string"},{"id":"2a91bd1e-e9d1-4871-aefe-cee5ea4797f1","name":"=hs_currency_code","value":"={{ $('Loop Over Items').item.json.orders.currency }}","type":"string"},{"id":"3b91bd1e-e9d1-4871-aefe-cee5ea4797f2","name":"hs_billing_address_firstname","value":"={{ $('Loop Over Items').item.json.orders.billing.first_name }}","type":"string"},{"id":"4c91bd1e-e9d1-4871-aefe-cee5ea4797f3","name":"hs_billing_address_lastname","value":"={{ $('Loop Over Items').item.json.orders.billing.last_name }}","type":"string"},{"id":"5d91bd1e-e9d1-4871-aefe-cee5ea4797f4","name":"hs_billing_address_email","value":"={{ $('Loop Over Items').item.json.orders.billing.email }}","type":"string"},{"id":"6e91bd1e-e9d1-4871-aefe-cee5ea4797f5","name":"hs_billing_address_phone","value":"={{ $('Loop Over Items').item.json.orders.billing.phone }}","type":"string"},{"id":"7f91bd1e-e9d1-4871-aefe-cee5ea4797f6","name":"hs_billing_address_street","value":"={{ $('Loop Over Items').item.json.orders.billing.address_1 }} {{ $('Loop Over Items').item.json.orders.billing.address_2 }}","type":"string"},{"id":"8091bd1e-e9d1-4871-aefe-cee5ea4797f7","name":"hs_billing_address_city","value":"={{ $('Loop Over Items').item.json.orders.billing.city }}","type":"string"},{"id":"9191bd1e-e9d1-4871-aefe-cee5ea4797f8","name":"hs_billing_address_state","value":"={{ $('Loop Over Items').item.json.orders.billing.state }}","type":"string"},{"id":"a291bd1e-e9d1-4871-aefe-cee5ea4797f9","name":"hs_billing_address_postal_code","value":"={{ $('Loop Over Items').item.json.orders.billing.postcode }}","type":"string"},{"id":"b391bd1e-e9d1-4871-aefe-cee5ea4797fa","name":"hs_billing_address_country","value":"={{ $('Loop Over Items').item.json.orders.billing.country }}","type":"string"},{"id":"c491bd1e-e9d1-4871-aefe-cee5ea4797fb","name":"hs_shipping_address_name","value":"={{ $('Loop Over Items').item.json.orders.shipping.first_name }} {{ $('Loop Over Items').item.json.orders.shipping.last_name }}","type":"string"},{"id":"d591bd1e-e9d1-4871-aefe-cee5ea4797fc","name":"hs_shipping_address_phone","value":"={{ $('Loop Over Items').item.json.orders.shipping.phone }}","type":"string"},{"id":"e691bd1e-e9d1-4871-aefe-cee5ea4797fd","name":"hs_shipping_address_street","value":"={{ $('Loop Over Items').item.json.orders.shipping.address_1 }} {{ $('Loop Over Items').item.json.orders.shipping.address_2 }}","type":"string"},{"id":"f791bd1e-e9d1-4871-aefe-cee5ea4797fe","name":"hs_shipping_address_city","value":"={{ $('Loop Over Items').item.json.orders.shipping.city }}","type":"string"},{"id":"0892bd1e-e9d1-4871-aefe-cee5ea4797ff","name":"hs_shipping_address_state","value":"={{ $('Loop Over Items').item.json.orders.shipping.state }}","type":"string"},{"id":"1992bd1e-e9d1-4871-aefe-cee5ea479800","name":"hs_shipping_address_postal_code","value":"={{ $('Loop Over Items').item.json.orders.shipping.postcode }}","type":"string"},{"id":"2a92bd1e-e9d1-4871-aefe-cee5ea479801","name":"hs_shipping_address_country","value":"={{ $('Loop Over Items').item.json.orders.shipping.country }}","type":"string"},{"id":"3b92bd1e-e9d1-4871-aefe-cee5ea479802","name":"hs_order_note","value":"={{ $('Loop Over Items').item.json.orders.customer_note }}","type":"string"},{"id":"4c92bd1e-e9d1-4871-aefe-cee5ea479803","name":"hs_payment_processing_method","value":"={{ $('Loop Over Items').item.json.orders.payment_method_title }}","type":"string"},{"id":"5d92bd1e-e9d1-4871-aefe-cee5ea479804","name":"hs_shipping_cost","value":"={{ $('Loop Over Items').item.json.orders.shipping_total }}","type":"string"},{"id":"6e92bd1e-e9d1-4871-aefe-cee5ea479805","name":"hs_order_discount","value":"={{ $('Loop Over Items').item.json.orders.discount_total }}","type":"string"},{"id":"7f92bd1e-e9d1-4871-aefe-cee5ea479806","name":"hs_total_price","value":"={{ $('Loop Over Items').item.json.orders.total }}","type":"string"},{"id":"8092bd1e-e9d1-4871-aefe-cee5ea479807","name":"hs_transaction_id","value":"={{ $('Loop Over Items').item.json.orders.transaction_id }}","type":"string"},{"id":"9192bd1e-e9d1-4871-aefe-cee5ea479808","name":"hs_external_created_date","value":"={{ new Date($('Loop Over Items').item.json.orders.date_created_gmt + 'Z').toISOString() }}","type":"string"},{"id":"a292bd1e-e9d1-4871-aefe-cee5ea479809","name":"hs_external_modified_date","value":"={{ new Date($('Loop Over Items').item.json.orders.date_modified_gmt + 'Z').toISOString() }}","type":"string"},{"id":"b392bd1e-e9d1-4871-aefe-cee5ea47980a","name":"hs_processed_date","value":"={{ new Date().toISOString() }}","type":"string"},{"id":"c492bd1e-e9d1-4871-aefe-cee5ea47980b","name":"hs_source_store","value":"Grafit Scavenger Store","type":"string"}]},"options":{}},"id":"7220cb3f-b556-4e0d-b35c-cf4b10bd58d5","name":"Map HubSpot Properties","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,992]},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"inputs","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2432,1008],"id":"79950570-0309-4cc3-9975-8999ee1dedd6","name":"Aggregate3"},{"parameters":{"method":"POST","url":"https://api.hubapi.com/crm/v3/objects/line_items/batch/create","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2656,1280],"id":"8871b16e-6e18-4189-86f6-18701b47054e","name":"HTTP Request6","credentials":{"hubspotAppToken":{"id":"a8A0heYwRlMmKZAa","name":"HubSpot account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fd1e804f-9549-4866-a5b2-63e90b6e4bf9","leftValue":"={{ $json.total}}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-16,1184],"id":"dc0f099f-3342-46c4-aca5-5660c63369e0","name":"Check If Deal exists"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-544,1200],"id":"39c04461-fc13-4501-b5c8-ca41ade76651","name":"Loop Over Items"},{"parameters":{"fieldToSplitOut":"orders","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-752,1200],"id":"8f0d39c8-edf9-4d9b-9915-775c12d6cfa7","name":"Split Out"},{"parameters":{"mode":"raw","jsonOutput":"={\"contact\": {{ $json.vid }},\n\"orders\": {{ $('If').item.json.orders.toJsonString() }}}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-992,1216],"id":"829d3b5a-9e76-4b02-be07-20518bfd23ea","name":"Edit Fields1"},{"parameters":{"mode":"raw","jsonOutput":"={\"customer\": {{ $('Loop Over Items1').item.json.toJsonString() }},\n\"orders\": [{{ $('Get many orders2').item.json.toJsonString() }}],\n\"lifetime_total\":{{ $json.totalSum || 0}}}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-800,1504],"id":"fb286747-2fa1-41f1-85a7-852eb650d852","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"12697fb3-bdfe-4381-a339-c19213354d20","leftValue":"={{ $json.lifetime_total }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}},{"id":"b4e7858c-42c6-4c0b-aaf8-253e4c1de677","leftValue":"={{ $json.lifetime_total }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}},{"id":"08f04df6-9235-4e22-9ecb-e117f57f4372","leftValue":"={{ $json.lifetime_total }}","rightValue":90,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1536,1392],"id":"d527cb5e-49e4-49ac-8731-984336f3e9e8","name":"If"},{"parameters":{"authentication":"appToken","email":"={{ $json.customer.billing.email }}","additionalFields":{"annualRevenue":"={{ $json.lifetime_total }}","city":"={{ $json.customer.billing.city }}","country":"={{ $json.customer.billing.country }}","countryRegionCode":"={{ $json.customer.billing.postcode }}","firstName":"={{ $json.customer.billing.first_name }}","lastName":"={{ $json.customer.billing.last_name }}","lifeCycleStage":"customer","phoneNumber":"={{ $json.customer.shipping.phone }}"},"options":{"resolveData":false}},"type":"n8n-nodes-base.hubspot","typeVersion":2.1,"position":[-1248,1248],"id":"160da22c-e1bc-406a-a7ca-0b96775d8fe1","name":"Create or update a contact","credentials":{"hubspotAppToken":{"id":"a8A0heYwRlMmKZAa","name":"HubSpot account"}}},{"parameters":{"url":"=https://{{ $('Conf').item.json.site }}/wp-json/wc/v3/customers","authentication":"predefinedCredentialType","nodeCredentialType":"wooCommerceApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"administrator"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2048,1504],"id":"fdf64745-677c-449f-8271-18b1d1bfd51d","name":"List all customers1","executeOnce":false,"retryOnFail":false,"credentials":{"wooCommerceApi":{"id":"Dsq5shoik9qjm7FD","name":"grafit.scavenger.dev"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"let totalSum = 0;\n// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n   totalSum += parseFloat(item.json.total);\n}\n\n// Return the final sum\nreturn { totalSum };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1008,1504],"id":"7c873954-a0fe-45ae-9db8-4585e9692a72","name":"Code"},{"parameters":{"resource":"order","operation":"getAll","options":{"customer":"={{ $json.id }}"}},"type":"n8n-nodes-base.wooCommerce","typeVersion":1,"position":[-1216,1504],"id":"7df35247-7e05-409d-9f68-fbe4ff1c04e3","name":"Get many orders2","alwaysOutputData":true,"credentials":{"wooCommerceApi":{"id":"Dsq5shoik9qjm7FD","name":"grafit.scavenger.dev"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1744,1488],"id":"e7e49090-51d0-4375-90a7-a03b5e8cef0d","name":"Loop Over Items1"},{"parameters":{"assignments":{"assignments":[{"id":"22d14ba2-f16a-41fb-b330-b81a64440170","name":"days","value":0,"type":"number"},{"id":"e3dd1a7e-6f98-4dde-b1bf-7963e6aa49f8","name":"site","value":"grafit.scavenger.dev","type":"string"},{"id":"0c203e0c-abcf-4a27-9ab8-4f6bf24d23ef","name":"issue_coupons","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2272,1504],"id":"f758935d-a6ba-46e6-89c9-2f47a6228f51","name":"Conf"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2544,1504],"id":"d42d809e-0af0-4669-8c6f-e8164b70ec50","name":"When clicking ‘Execute workflow’"}],"connections":{"Create hubspot Order1":{"main":[[{"node":"Check If Deal exists","type":"main","index":0}]]},"Split Out hubspot products":{"main":[[{"node":"Extract hubspot product id","type":"main","index":0}]]},"Find matching products by woocommerce product id":{"main":[[{"node":"Split Out hubspot products","type":"main","index":0}]]},"Prepare List of line item ids":{"main":[[{"node":"Find matching products by woocommerce product id","type":"main","index":0}]]},"Extract product or variant id":{"main":[[{"node":"Prepare List of line item ids","type":"main","index":0}]]},"Split Line Items":{"main":[[{"node":"Extract product or variant id","type":"main","index":0}]]},"Extract order line items":{"main":[[{"node":"Split Line Items","type":"main","index":0}]]},"Create hubspot Order":{"main":[[{"node":"Extract order line items","type":"main","index":0}]]},"Map HubSpot Properties":{"main":[[{"node":"Create hubspot Order","type":"main","index":0}]]},"Extract hubspot product id":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]},"Aggregate3":{"main":[[{"node":"HTTP Request6","type":"main","index":0}]]},"Check If Deal exists":{"main":[[{"node":"Map HubSpot Properties","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request6":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Create hubspot Order1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"If":{"main":[[{"node":"Create or update a contact","type":"main","index":0}]]},"Create or update a contact":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"List all customers1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get many orders2":{"main":[[{"node":"Code","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Get many orders2","type":"main","index":0}]]},"Conf":{"main":[[{"node":"List all customers1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Conf","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d7576e9a-8bf1-4fe3-a96a-85fea800c1e8","triggerCount":0,"shared":[{"createdAt":"2025-09-08T18:53:36.100Z","updatedAt":"2025-09-08T18:53:36.100Z","role":"workflow:owner","workflowId":"gJAHLDDyj7YEq9E9","projectId":"eJmXvMfwlB4M0OPl"}],"tags":[]}