not-reviewed/WooCommerce-HubSpot_Orders_Sync/1762015735141-Template.json
{"createdAt":"2025-09-06T17:39:32.304Z","updatedAt":"2025-11-01T14:00:48.000Z","id":"zk5wFH4GTeamOgMx","name":"WooCommerce-HubSpot Orders Sync","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"22d14ba2-f16a-41fb-b330-b81a64440170","name":"days","value":0,"type":"number"},{"id":"e3dd1a7e-6f98-4dde-b1bf-7963e6aa49f8","name":"site","value":"grafit.scavenger.dev","type":"string"},{"id":"0c203e0c-abcf-4a27-9ab8-4f6bf24d23ef","name":"issue_coupons","value":true,"type":"boolean"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2816,576],"id":"54577b14-baad-49dc-81f1-a1204fcacdc2","name":"Conf"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3360,576],"id":"bd93b019-578e-4ae2-b722-b954c5d87525","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"order","operation":"getAll","options":{"after":"={{ $json.updated_after || $json.max_properties_hs_createdate }}","status":"any"}},"type":"n8n-nodes-base.wooCommerce","typeVersion":1,"position":[-2608,576],"id":"067f1bac-4f01-4abd-ade7-d31b43873a57","name":"Get many orders","credentials":{"wooCommerceApi":{"id":"Dsq5shoik9qjm7FD","name":"grafit.scavenger.dev"}}},{"parameters":{"operation":"subtractFromDate","magnitude":"={{ $today }}","timeUnit":"weeks","duration":12,"outputFieldName":"updated_after","options":{"includeInputFields":true}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-3136,576],"id":"7f1559f9-d06d-4615-853b-1bf9040fe193","name":"Date & Time","disabled":true},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"id","field2":"external_id"}]},"joinMode":"keepNonMatches","options":{"fuzzyCompare":false}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1088,720],"id":"275ea55f-57e8-4802-8eec-4a0c7c571418","name":"Keep New Orders"},{"parameters":{"assignments":{"assignments":[{"id":"8cf82c91-d936-4b63-8ad0-c99f7a7555e8","name":"external_id","value":"={{ $json.properties.hs_external_order_id }}","type":"number"},{"id":"d90c7db7-d288-42bf-9d83-9beea4f35726","name":"hs_order_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1312,800],"id":"89b964c0-73c0-42f6-9921-88ef23ddc542","name":"Cast ID to number for filtering"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1536,800],"id":"ab1dc370-e3f8-435a-9407-bb7d952323bf","name":"Split out found Orders","alwaysOutputData":true},{"parameters":{"method":"POST","url":"https://api.hubapi.com/crm/v3/objects/order/search","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filterGroups\": [\n    {\n      \"filters\": [\n        {\n          \"propertyName\": \"hs_external_order_id\",\n          \"operator\": \"IN\",\n          \"values\": {{  $json.inputs.toJsonString()}}\n        }\n      ]\n    }\n  ],\n  \"properties\": [\"hs_external_order_id\"]\n}   ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1760,800],"id":"f0c25018-2a39-48a8-ac0b-7f0ba3d41767","name":"Lookup Orders by WC ID2","credentials":{"hubspotAppToken":{"id":"a8A0heYwRlMmKZAa","name":"HubSpot account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"id","renameField":true,"outputFieldName":"inputs"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1984,800],"id":"a0209df5-476c-41be-b90c-e799dfda41a0","name":"Extract orders id list"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"id","field2":"external_id"}]},"options":{"fuzzyCompare":false}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1184,320],"id":"3760a2f1-cae7-4295-a440-ff6dc7035b6e","name":"Keep Existing Orders"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"billing.email","renameField":true,"outputFieldName":"emails"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-864,800],"id":"3a709c89-a921-4572-8e91-2d73f05bff5a","name":"Extract email list"},{"parameters":{"method":"POST","url":"https://api.hubapi.com/crm/v3/objects/contacts/search","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filterGroups\": [\n    {\n      \"filters\": [\n        {\n          \"propertyName\": \"email\",\n          \"operator\": \"IN\",\n          \"values\": {{ $json.emails.toJsonString() }}\n        }\n      ]\n    }\n  ],\n  \"properties\": [ \"email\"]\n}   ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-640,800],"id":"fc508bf3-51d8-4985-a0f3-72203993e6c5","name":"Lookup Contacts By Email2","credentials":{"hubspotAppToken":{"id":"a8A0heYwRlMmKZAa","name":"HubSpot account"}}},{"parameters":{"fieldToSplitOut":"results","options":{"destinationFieldName":"hs_customer"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-416,800],"id":"48099d2d-e5b8-42b8-8064-f167d77234d7","name":"Split out found Contacts"},{"parameters":{"assignments":{"assignments":[{"id":"ec086448-079e-4659-819f-3d844a962738","name":"properties.hs_external_order_id","value":"={{ $json.id }}","type":"string"},{"id":"10e89545-2771-4133-b409-d9be4d158740","name":"properties.hs_external_order_status","value":"={{ $json.status }}","type":"string"},{"id":"2a91bd1e-e9d1-4871-aefe-cee5ea4797f1","name":"=properties.hs_currency_code","value":"={{ $json.currency }}","type":"string"},{"id":"3b91bd1e-e9d1-4871-aefe-cee5ea4797f2","name":"properties.hs_billing_address_firstname","value":"={{ $json.billing.first_name }}","type":"string"},{"id":"4c91bd1e-e9d1-4871-aefe-cee5ea4797f3","name":"properties.hs_billing_address_lastname","value":"={{ $json.billing.last_name }}","type":"string"},{"id":"5d91bd1e-e9d1-4871-aefe-cee5ea4797f4","name":"properties.hs_billing_address_email","value":"={{ $json.billing.email }}","type":"string"},{"id":"6e91bd1e-e9d1-4871-aefe-cee5ea4797f5","name":"properties.hs_billing_address_phone","value":"={{ $json.billing.phone }}","type":"string"},{"id":"7f91bd1e-e9d1-4871-aefe-cee5ea4797f6","name":"properties.hs_billing_address_street","value":"={{ $json.billing.address_1 }} {{ $json.billing.address_2 }}","type":"string"},{"id":"8091bd1e-e9d1-4871-aefe-cee5ea4797f7","name":"properties.hs_billing_address_city","value":"={{ $json.billing.city }}","type":"string"},{"id":"9191bd1e-e9d1-4871-aefe-cee5ea4797f8","name":"properties.hs_billing_address_state","value":"={{ $json.billing.state }}","type":"string"},{"id":"a291bd1e-e9d1-4871-aefe-cee5ea4797f9","name":"properties.hs_billing_address_postal_code","value":"={{ $json.billing.postcode }}","type":"string"},{"id":"b391bd1e-e9d1-4871-aefe-cee5ea4797fa","name":"properties.hs_billing_address_country","value":"={{ $json.billing.country }}","type":"string"},{"id":"c491bd1e-e9d1-4871-aefe-cee5ea4797fb","name":"properties.hs_shipping_address_name","value":"={{ $json.shipping.first_name }} {{ $json.shipping.last_name }}","type":"string"},{"id":"d591bd1e-e9d1-4871-aefe-cee5ea4797fc","name":"properties.hs_shipping_address_phone","value":"={{ $json.shipping.phone }}","type":"string"},{"id":"e691bd1e-e9d1-4871-aefe-cee5ea4797fd","name":"properties.hs_shipping_address_street","value":"={{ $json.shipping.address_1 }} {{ $json.shipping.address_2 }}","type":"string"},{"id":"f791bd1e-e9d1-4871-aefe-cee5ea4797fe","name":"properties.hs_shipping_address_city","value":"={{ $json.shipping.city }}","type":"string"},{"id":"0892bd1e-e9d1-4871-aefe-cee5ea4797ff","name":"properties.hs_shipping_address_state","value":"={{ $json.shipping.state }}","type":"string"},{"id":"1992bd1e-e9d1-4871-aefe-cee5ea479800","name":"properties.hs_shipping_address_postal_code","value":"={{ $json.shipping.postcode }}","type":"string"},{"id":"2a92bd1e-e9d1-4871-aefe-cee5ea479801","name":"properties.hs_shipping_address_country","value":"={{ $json.shipping.country }}","type":"string"},{"id":"3b92bd1e-e9d1-4871-aefe-cee5ea479802","name":"properties.hs_order_note","value":"={{ $json.customer_note }}","type":"string"},{"id":"4c92bd1e-e9d1-4871-aefe-cee5ea479803","name":"properties.hs_payment_processing_method","value":"={{ $json.payment_method_title }}","type":"string"},{"id":"5d92bd1e-e9d1-4871-aefe-cee5ea479804","name":"properties.hs_shipping_cost","value":"={{ $json.shipping_total }}","type":"string"},{"id":"6e92bd1e-e9d1-4871-aefe-cee5ea479805","name":"properties.hs_order_discount","value":"={{ $json.discount_total }}","type":"string"},{"id":"7f92bd1e-e9d1-4871-aefe-cee5ea479806","name":"properties.hs_total_price","value":"={{ $json.total }}","type":"string"},{"id":"8092bd1e-e9d1-4871-aefe-cee5ea479807","name":"properties.hs_transaction_id","value":"={{ $json.transaction_id }}","type":"string"},{"id":"9192bd1e-e9d1-4871-aefe-cee5ea479808","name":"properties.hs_external_created_date","value":"={{ new Date($json.date_created_gmt + 'Z').toISOString() }}","type":"string"},{"id":"a292bd1e-e9d1-4871-aefe-cee5ea479809","name":"properties.hs_external_modified_date","value":"={{ new Date($json.date_modified_gmt + 'Z').toISOString() }}","type":"string"},{"id":"b392bd1e-e9d1-4871-aefe-cee5ea47980a","name":"properties.hs_processed_date","value":"={{ new Date().toISOString() }}","type":"string"},{"id":"c492bd1e-e9d1-4871-aefe-cee5ea47980b","name":"properties.hs_source_store","value":"={{ $json.meta_data.find(item => item.key === '_wc_order_attribution_session_entry')?.value.extractDomain() || '' }}","type":"string"},{"id":"75311093-d14a-4615-997f-684f6c685c8b","name":"properties.hs_order_discount","value":"={{ $json.discount_total }}","type":"string"},{"id":"c476d691-4ec9-4c1b-8b98-c2ac6964af83","name":"line_items","value":"={{ $json.line_items }}","type":"array"},{"id":"e7c40b41-0cf4-448a-ab52-ccc1cbfec232","name":"hs_customer","value":"={{ $json.hs_customer }}","type":"object"},{"id":"4d36712c-08bd-4208-8000-4bb8236ff119","name":"properties.hs_order_name","value":"=Order #{{ $json.id }} ({{ $json.meta_data.find(item => item.key === '_wc_order_attribution_session_entry')?.value.extractDomain() || '' }}) ","type":"string"}]},"options":{}},"id":"e7b0ab1e-1be1-46bd-b58d-54cf86a08c4f","name":"Map HubSpot Properties1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[32,720]},{"parameters":{"method":"POST","url":"https://api.hubapi.com/crm/v3/objects/order/batch/create","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\"inputs\": {{ $json.data.toJsonString() }}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,576],"id":"589402dd-ffac-4d18-954c-4665e018c28c","name":"Create hubspot Order1","credentials":{"hubspotAppToken":{"id":"a8A0heYwRlMmKZAa","name":"HubSpot account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b33a6be-686f-4c15-81fd-139985037e50","leftValue":"={{ $json.hs_customer }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}},{"id":"1f366a29-e0ec-4408-b9d4-3473061f0a3f","leftValue":"={{ $json.hs_customer }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[256,720],"id":"cc20da9f-8d07-4685-b28e-ce88ccbd80bf","name":"If"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"properties\": {{ $json.properties.toJsonString() }},\n  \"associations\":[\n    {\n      \"types\":[{\n          \"associationCategory\": \"HUBSPOT_DEFINED\",\n          \"associationTypeId\": 507\n        }],\n      \"to\": {\"id\": \"{{ $json.hs_customer.id }}\"}\n    }\n  ]\n}\n ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1152,576],"id":"a9e05252-e1e9-4307-8661-d76860da2fdf","name":"Prepare for Order Create"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1376,576],"id":"1fb70938-f5b5-4fcb-9dfa-f49066198ec6","name":"Aggregate"},{"parameters":{"mode":"raw","jsonOutput":"={\"line_items\":{{ $json.line_items }}}","includeOtherFields":true,"include":"selected","includeFields":"properties.hs_external_order_id","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,816],"id":"fceb1aff-7fc0-4262-9466-dc1d355b4ed7","name":"Extract order line items1"},{"parameters":{"assignments":{"assignments":[{"id":"2b04a9fa-1c65-4585-8d5e-3776c7a3d23c","name":"id","value":"={{ $json.line_items.variation_id !== 0 ? $json.line_items.variation_id : $json.line_items.product_id }}","type":"string"},{"id":"ca5deaf1-f846-4ab8-9323-2357214e6acf","name":"hs_external_order_id","value":"={{ $json.hs_external_order_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,816],"id":"94ead5b7-04b1-4756-bcf5-8fbe4b905e0c","name":"Extract product or variant id1"},{"parameters":{"fieldToSplitOut":"line_items","include":"selectedOtherFields","fieldsToInclude":"hs_external_order_id","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[704,816],"id":"5cddf218-3460-40ca-bc6c-e62999412172","name":"Split Line Items1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"id"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1376,896],"id":"6b148e60-b42f-4182-b78b-9454e1ac3f7d","name":"Prepare List of line item ids1"},{"parameters":{"method":"POST","url":"https://api.hubapi.com/crm/v3/objects/products/search","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filterGroups\": [\n    {\n      \"filters\": [\n        {\n          \"propertyName\": \"store_product_id\",\n          \"operator\": \"IN\",\n          \"values\": {{  $json.id.toJsonString() }}\n        }\n      ]\n    }\n  ],\n  \"properties\": [\"name\", \"store_product_id\"]\n}   ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,896],"id":"33bb9b1e-ea3f-412a-b18e-36e95634ba4b","name":"Find matching products by woocommerce product id1","credentials":{"hubspotAppToken":{"id":"a8A0heYwRlMmKZAa","name":"HubSpot account"}}},{"parameters":{"compare":"selectedFields","fieldsToCompare":"id","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[1152,896],"id":"0fb58d30-3857-40ef-8e74-701baef6b618","name":"Remove Duplicates"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"id","field2":"properties.store_product_id"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2048,816],"id":"16615a56-09ce-4a3c-986f-4cc286d23794","name":"Merge"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1824,896],"id":"065b37f7-d793-42b1-9132-c25520d68403","name":"Split Out1"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"hs_external_order_id","field2":"hs_external_order_id"}]},"joinMode":"enrichInput1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2272,720],"id":"60bbbfcd-fe3d-4c2d-aaf9-d1d8622291e9","name":"Merge1"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1824,576],"id":"f532333a-1467-4eed-8bb1-616a95268fb3","name":"Split Out2"},{"parameters":{"assignments":{"assignments":[{"id":"cd4a7868-06d6-48a9-a385-68f5e0bf4732","name":"hs_order_id","value":"={{ $json.id }}","type":"string"},{"id":"93ea8e93-822d-432f-8f44-af24bd028191","name":"hs_external_order_id","value":"={{ $json.properties.hs_external_order_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2048,576],"id":"88c3b9d2-2f94-4f50-9646-f3d7d051f805","name":"Edit Fields"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"inputs","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2816,720],"id":"389297e6-f61e-47d9-86c7-ebf086be9c4b","name":"Aggregate4"},{"parameters":{"method":"POST","url":"https://api.hubapi.com/crm/v3/objects/line_items/batch/create","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3008,720],"id":"8733f235-766c-4962-a86e-e838b417b1ba","name":"HTTP Request7","credentials":{"hubspotAppToken":{"id":"a8A0heYwRlMmKZAa","name":"HubSpot account"}}},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"billing.email","field2":"hs_customer.properties.email"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-192,720],"id":"a447fce9-2e2b-4a1c-8f46-37db830e9fcd","name":"Merge Orders with Customers"},{"parameters":{"event":"order.created"},"type":"n8n-nodes-base.wooCommerceTrigger","typeVersion":1,"position":[-2384,304],"id":"d858b2f6-99db-42ff-85c3-6911d6ebc2ee","name":"WooCommerce Trigger","webhookId":"6ea1f6ed-d28a-4d00-8432-125e06a0bc6f","credentials":{"wooCommerceApi":{"id":"Dsq5shoik9qjm7FD","name":"grafit.scavenger.dev"}}},{"parameters":{"rule":{"interval":[{"field":"months","monthsInterval":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3632,752],"id":"c0bf5333-5596-4407-95b9-9fb1ae8ca9e4","name":"Schedule Trigger"},{"parameters":{"mode":"raw","jsonOutput":"={\n    \"properties\": {\n        \"hs_product_id\": \"{{ $json.id }}\",\n        \"quantity\": {{ $('Split Line Items1').item.json.line_items.quantity }}\n    },\n    \"associations\": [{\n        \"types\": [{\n            \"associationCategory\": \"HUBSPOT_DEFINED\",\n            \"associationTypeId\": 514\n        }],\n        \"to\": {\n            \"id\": \"{{ $json.hs_order_id }}\"\n        }\n    }]\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2560,720],"id":"91580d7a-fafb-412d-bfb7-c28d54e720ce","name":"Format for HS Line Item Create"},{"parameters":{"method":"POST","url":"https://api.hubapi.com/crm/v3/objects/products/search","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filterGroups\": [\n    {\n      \"filters\": [\n        {\n          \"propertyName\": \"store_product_id\",\n          \"operator\": \"IN\",\n          \"values\": {{  $json.id.toJsonString() }}\n        }\n      ]\n    }\n  ],\n  \"properties\": [\"name\", \"price\",\"hs_sku\", \"store_product_id\"]\n}   ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1664,1088],"id":"7128c879-9528-4748-b2ec-a6c642286185","name":"Find matching products by woocommerce product id","credentials":{"hubspotAppToken":{"id":"a8A0heYwRlMmKZAa","name":"HubSpot account"}}},{"parameters":{"method":"POST","url":"https://api.hubapi.com/crm/v3/objects/order/search","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filterGroups\": [\n    {\n      \"filters\": [\n        {\n          \"propertyName\": \"hs_source_store\",\n          \"operator\": \"EQ\",\n          \"value\": \"grafit.scavenger.dev\"\n        }\n      ]\n    }\n  ],\n  \"properties\": [\"hs_external_order_id\"]\n}   ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3456,752],"id":"ceff43a7-4bfc-46f0-8a96-e7bb3140d265","name":"Lookup Orders by WC ID","credentials":{"hubspotAppToken":{"id":"a8A0heYwRlMmKZAa","name":"HubSpot account"}}},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-3296,752],"id":"f74e6c12-065f-491e-a4a5-854d915ae0ce","name":"Split Out"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"properties.hs_createdate"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-3136,752],"id":"e0657ff1-2d8d-4743-b25b-164e01a6d4b4","name":"Sort"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"max","field":"properties.hs_createdate"}]},"options":{"outputFormat":"separateItems"}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-2992,752],"id":"1c49516e-1848-44cb-8367-606b40b37954","name":"Summarize"}],"connections":{"Conf":{"main":[[{"node":"Get many orders","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Get many orders":{"main":[[{"node":"Extract orders id list","type":"main","index":0},{"node":"Keep New Orders","type":"main","index":0},{"node":"Keep Existing Orders","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Conf","type":"main","index":0}]]},"Cast ID to number for filtering":{"main":[[{"node":"Keep New Orders","type":"main","index":1},{"node":"Keep Existing Orders","type":"main","index":1}]]},"Split out found Orders":{"main":[[{"node":"Cast ID to number for filtering","type":"main","index":0}]]},"Lookup Orders by WC ID2":{"main":[[{"node":"Split out found Orders","type":"main","index":0}]]},"Keep New Orders":{"main":[[{"node":"Extract email list","type":"main","index":0},{"node":"Merge Orders with Customers","type":"main","index":0}]]},"Extract orders id list":{"main":[[{"node":"Lookup Orders by WC ID2","type":"main","index":0}]]},"Extract email list":{"main":[[{"node":"Lookup Contacts By Email2","type":"main","index":0}]]},"Lookup Contacts By Email2":{"main":[[{"node":"Split out found Contacts","type":"main","index":0}]]},"Split out found Contacts":{"main":[[{"node":"Merge Orders with Customers","type":"main","index":1}]]},"Map HubSpot Properties1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Prepare for Order Create","type":"main","index":0},{"node":"Extract order line items1","type":"main","index":0}]]},"Prepare for Order Create":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Create hubspot Order1","type":"main","index":0}]]},"Extract order line items1":{"main":[[{"node":"Split Line Items1","type":"main","index":0}]]},"Split Line Items1":{"main":[[{"node":"Extract product or variant id1","type":"main","index":0}]]},"Extract product or variant id1":{"main":[[{"node":"Remove Duplicates","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Prepare List of line item ids1":{"main":[[{"node":"Find matching products by woocommerce product id1","type":"main","index":0},{"node":"Find matching products by woocommerce product id","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Prepare List of line item ids1","type":"main","index":0}]]},"Find matching products by woocommerce product id1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Create hubspot Order1":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Split Out2":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Aggregate4":{"main":[[{"node":"HTTP Request7","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Format for HS Line Item Create","type":"main","index":0}]]},"Merge Orders with Customers":{"main":[[{"node":"Map HubSpot Properties1","type":"main","index":0}]]},"WooCommerce Trigger":{"main":[[{"node":"Extract orders id list","type":"main","index":0},{"node":"Keep New Orders","type":"main","index":0},{"node":"Keep Existing Orders","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Lookup Orders by WC ID","type":"main","index":0}]]},"Format for HS Line Item Create":{"main":[[{"node":"Aggregate4","type":"main","index":0}]]},"Lookup Orders by WC ID":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Sort","type":"main","index":0}]]},"Sort":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Conf","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Sofia","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"WooCommerce Trigger":[{"json":{"id":1547,"parent_id":0,"status":"processing","currency":"BGN","version":"10.1.1","prices_include_tax":false,"date_created":"2025-09-13T19:39:25","date_modified":"2025-09-13T19:41:41","discount_total":"0.00","discount_tax":"0.00","shipping_total":"0.00","shipping_tax":"0.00","cart_tax":"0.00","total":"39.00","total_tax":"0.00","customer_id":4,"order_key":"wc_order_sNwWXDPAjBCcU","billing":{"first_name":"Bligo","last_name":"Bligov","company":"","address_1":"ul. Nezabravka 16","address_2":"ap. 10","city":"Yambol","state":"BG-28","postcode":"8600","country":"BG","email":"bligo@abv.bg","phone":"+359879522222"},"shipping":{"first_name":"Bligo","last_name":"Bligov","company":"","address_1":"ul. Nezabravka 16","address_2":"ap. 10","city":"Yambol","state":"BG-28","postcode":"8600","country":"BG","phone":"+359879522222"},"payment_method":"cod","payment_method_title":"Cash on delivery","transaction_id":"","customer_ip_address":"92.247.57.191","customer_user_agent":"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36","created_via":"store-api","customer_note":"","date_completed":null,"date_paid":null,"cart_hash":"fef613415a47648c83004b4cdf76f4a3","number":"1547","meta_data":[{"id":73,"key":"_coupons_hash","value":"d751713988987e9331980363e24189ce"},{"id":74,"key":"_fees_hash","value":"d751713988987e9331980363e24189ce"},{"id":72,"key":"_shipping_hash","value":"048de80563e71976bfb227ef458017e2"},{"id":75,"key":"_taxes_hash","value":"d751713988987e9331980363e24189ce"},{"id":86,"key":"_wc_order_attribution_device_type","value":"Desktop"},{"id":84,"key":"_wc_order_attribution_session_count","value":"1"},{"id":81,"key":"_wc_order_attribution_session_entry","value":"https://grafit.scavenger.dev/"},{"id":83,"key":"_wc_order_attribution_session_pages","value":"24"},{"id":82,"key":"_wc_order_attribution_session_start_time","value":"2025-09-13 19:35:55"},{"id":79,"key":"_wc_order_attribution_source_type","value":"typein"},{"id":85,"key":"_wc_order_attribution_user_agent","value":"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36"},{"id":80,"key":"_wc_order_attribution_utm_source","value":"(direct)"},{"id":76,"key":"is_vat_exempt","value":"no"}],"line_items":[{"id":134,"name":"Graffiti Mug","product_id":877,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"15.00","subtotal_tax":"0.00","total":"15.00","total_tax":"0.00","taxes":[],"meta_data":[],"sku":"","global_unique_id":"","price":15,"image":{"id":"878","src":"https://grafit.scavenger.dev/wp-content/uploads/2025/08/graffiti_mug_product.webp"},"parent_name":null},{"id":135,"name":"UFO Mug","product_id":879,"variation_id":0,"quantity":2,"tax_class":"","subtotal":"24.00","subtotal_tax":"0.00","total":"24.00","total_tax":"0.00","taxes":[],"meta_data":[],"sku":"","global_unique_id":"","price":12,"image":{"id":"881","src":"https://grafit.scavenger.dev/wp-content/uploads/2025/08/UFO_mug.webp"},"parent_name":null}],"tax_lines":[],"shipping_lines":[{"id":136,"method_title":"Free shipping","method_id":"free_shipping","instance_id":"1","total":"0.00","total_tax":"0.00","taxes":[],"tax_status":"taxable","meta_data":[{"id":1207,"key":"Items","value":"Graffiti Mug &times; 1, UFO Mug &times; 2","display_key":"Items","display_value":"Graffiti Mug &times; 1, UFO Mug &times; 2"}]}],"fee_lines":[],"coupon_lines":[],"refunds":[],"payment_url":"https://grafit.scavenger.dev/checkout/order-pay/1547/?pay_for_order=true&key=wc_order_sNwWXDPAjBCcU","is_editable":false,"needs_payment":false,"needs_processing":true,"date_created_gmt":"2025-09-13T19:39:25","date_modified_gmt":"2025-09-13T19:41:41","date_completed_gmt":null,"date_paid_gmt":null,"currency_symbol":"лв.","_links":{"self":[{"href":"https://grafit.scavenger.dev/wp-json/wc/v3/orders/1547","targetHints":{"allow":["GET","POST","PUT","PATCH","DELETE"]}}],"collection":[{"href":"https://grafit.scavenger.dev/wp-json/wc/v3/orders"}],"email_templates":[{"embeddable":true,"href":"https://grafit.scavenger.dev/wp-json/wc/v3/orders/1547/actions/email_templates"}],"customer":[{"href":"https://grafit.scavenger.dev/wp-json/wc/v3/customers/4"}]}}}]},"versionId":"2ad638d5-7147-4019-8aa2-1a3b5a085fbf","triggerCount":0,"shared":[{"createdAt":"2025-09-06T17:39:32.321Z","updatedAt":"2025-09-06T17:39:32.321Z","role":"workflow:owner","workflowId":"zk5wFH4GTeamOgMx","projectId":"eJmXvMfwlB4M0OPl"}],"tags":[]}