not-reviewed/Building_Blocks_-_Loops_&_Flow_Control/1763220120089-Template.json
{"createdAt":"2025-11-14T12:12:53.190Z","updatedAt":"2025-11-15T15:17:23.000Z","id":"1TjRWUzIMqlwW8bP","name":"Building Blocks - Loops & Flow Control","active":false,"isArchived":false,"nodes":[{"parameters":{"batchSize":5,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[592,-416],"id":"2b36c6d6-c03a-4c48-8cfe-2628a469887e","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"54ddfa01-9518-4c9a-9d00-766705fcf483","name":"greeting","value":"=Hello, {{ $json.name }}!","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1104,-192],"id":"cc2741d8-91af-437d-9ef1-4c98d1c62a5d","name":"Do Something"},{"parameters":{"assignments":{"assignments":[{"id":"54ddfa01-9518-4c9a-9d00-766705fcf483","name":"greeting","value":"=Hi, {{ $json.name }}!","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1104,-384],"id":"ecb5c68f-2247-43ba-b18f-28fce5187952","name":"Do Something Else"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fe458d6c-a983-4518-9fff-04a549570a63","leftValue":"={{ $json.name }}","rightValue":"Bob","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[864,-288],"id":"c3bdf901-3268-4e62-802b-0a903e9ffd7e","name":"If Condition"},{"parameters":{"batchSize":2,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[480,544],"id":"87ae4059-2cf8-4411-9586-2df285960215","name":"Loop Over Items1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.name }}","rightValue":"Bob","operator":{"type":"string","operation":"equals"},"id":"7b57718c-5508-4c60-9522-9fa198b5ec1a"}],"combinator":"and"},"renameOutput":true,"outputKey":"Bob"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f46d66b0-2b27-4d76-87ef-2a5c33598b4d","leftValue":"={{ $json.name }}","rightValue":"Alice","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Alice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"06128a6c-8df7-4c03-81ed-dfbf654a264f","leftValue":"={{ $json.name }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Anyone Else"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[768,544],"id":"f1349fd2-7fe5-4ae9-8de4-78ee40918c2e","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"54ddfa01-9518-4c9a-9d00-766705fcf483","name":"greeting","value":"=Hi, {{ $json.name }}!","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1104,400],"id":"09418249-3141-47a3-afbc-75827845fbdf","name":"Bob Greeting"},{"parameters":{"assignments":{"assignments":[{"id":"54ddfa01-9518-4c9a-9d00-766705fcf483","name":"greeting","value":"=Goodbye, {{ $json.name }}!","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1104,560],"id":"c8f494b2-91a5-4cd0-b1e5-e76600f74670","name":"Alice Greeting"},{"parameters":{"assignments":{"assignments":[{"id":"54ddfa01-9518-4c9a-9d00-766705fcf483","name":"greeting","value":"=Hello, {{ $json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1104,720],"id":"79eda829-7402-49ca-ae03-982511162ff6","name":"Generic Greeting"},{"parameters":{"assignments":{"assignments":[{"id":"54ddfa01-9518-4c9a-9d00-766705fcf483","name":"greeting","value":"=Hello, {{ $json.name }}!","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[912,-1952],"id":"ecece095-b9bc-450f-856a-a14b3f91bf10","name":"Do Something1"},{"parameters":{"assignments":{"assignments":[{"id":"54ddfa01-9518-4c9a-9d00-766705fcf483","name":"greeting","value":"=Hi, {{ $json.name }}!","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[912,-2192],"id":"fd649387-6271-4c9e-af67-17bf6cd6d847","name":"Do Something Else1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fe458d6c-a983-4518-9fff-04a549570a63","leftValue":"={{ $json.name }}","rightValue":"Bob","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[672,-2064],"id":"e48395f0-b44b-49a7-bcae-21ff1a09f9a5","name":"If Condition1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1152,-2080],"id":"99939893-8572-441d-a70e-f630b3fd8e60","name":"Merge"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.name }}","rightValue":"Bob","operator":{"type":"string","operation":"equals"},"id":"7b57718c-5508-4c60-9522-9fa198b5ec1a"}],"combinator":"and"},"renameOutput":true,"outputKey":"Bob"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f46d66b0-2b27-4d76-87ef-2a5c33598b4d","leftValue":"={{ $json.name }}","rightValue":"Alice","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Alice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"06128a6c-8df7-4c03-81ed-dfbf654a264f","leftValue":"={{ $json.name }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Anyone Else"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[560,-1152],"id":"93819293-807c-49d4-a5a7-2d72460c52c7","name":"Switch1"},{"parameters":{"assignments":{"assignments":[{"id":"54ddfa01-9518-4c9a-9d00-766705fcf483","name":"greeting","value":"=Hi, {{ $json.name }}!","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[848,-1312],"id":"2450b97e-4153-4bee-9e0f-f2b64521aba8","name":"Bob Greeting1"},{"parameters":{"assignments":{"assignments":[{"id":"54ddfa01-9518-4c9a-9d00-766705fcf483","name":"greeting","value":"=Goodbye, {{ $json.name }}!","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[848,-1136],"id":"c50809e2-854f-445a-be3d-247db1500dc5","name":"Alice Greeting1"},{"parameters":{"assignments":{"assignments":[{"id":"54ddfa01-9518-4c9a-9d00-766705fcf483","name":"greeting","value":"=Hello, {{ $json.name }}!","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[848,-944],"id":"451ff61a-1023-4f95-bec5-acc6a0ca48c7","name":"Generic Greeting1"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1168,-1152],"id":"f56fc028-9686-47d0-9729-837868e68155","name":"Merge1"},{"parameters":{"url":"https://google.com","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,1552],"id":"368cad78-ecd6-45b1-b00d-224ea42bb61c","name":"HTTP Request","alwaysOutputData":false,"retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.statusCode.toString() }}","rightValue":"3","operator":{"type":"string","operation":"startsWith"},"id":"f3ff279b-fbfc-4deb-8b23-8c4cccc21f4d"}],"combinator":"and"},"renameOutput":true,"outputKey":"3xx"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e73619bb-c13b-4bd9-81a6-2860d602cac4","leftValue":"={{ $json.statusCode.toString() }}","rightValue":"","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"4xx"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"23a49b19-e2dd-4352-8b02-cf9176a409d4","leftValue":"={{ $json.statusCode.toString() }}","rightValue":"","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"5xx"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[880,1616],"id":"b9164a9f-8c69-4bff-a9da-554ff1dd2975","name":"Switch2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1216,1488],"id":"faecfbc6-d61b-4a32-a954-f8020600befa","name":"Handle 3xx Errors"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1216,1632],"id":"265fc497-a896-4b61-8c80-e6dbef5fc274","name":"Handle 4xx Errors"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1216,1776],"id":"e7f81db2-78d6-466e-ab4e-a26f189ac035","name":"Handle 5xx Errors"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[560,1632],"id":"3d8999b3-202f-4d4e-b0b9-af995e27ddb2","name":"Notify for error"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1216,1312],"id":"8683de92-728e-410b-862b-9a6faf8d8071","name":"Handle valid responses"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fe22fa7e-9f85-449e-a3b9-31f55421f4a3","leftValue":"={{ $json.data }}","rightValue":300,"operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"da780db3-bb61-4285-b7cf-f05a05be592c","leftValue":"={{ $json.data }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"da4baf65-ab36-41e8-b805-c4373d355c01","leftValue":"={{ $json.data.length }}","rightValue":1,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[544,1408],"id":"3c0b49a3-a9e4-4bfd-aa29-1a574ddfc973","name":"Validate Success Response"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"id"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[784,2656],"id":"b23d9e71-e0f0-4206-9382-f38e87de50ea","name":"Aggregate"},{"parameters":{"fieldToSplitOut":"items","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1088,2656],"id":"a6292465-0e45-4945-bc82-730fd87f6ff6","name":"Split Out1"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"id","field2":"id"}]},"joinMode":"enrichInput2","options":{"clashHandling":{"values":{"resolveClash":"preferLast"}}}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1472,2656],"id":"ad409cb6-26e3-419f-9db9-f7defd79ee93","name":"Merge2"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"data\": [\n    {\"id\":\"wnWw-2OZ3B8\"},\n    {\"id\":\"A-rudxCvJTs\"},\n    {\"id\":\"1HQOjCeYpPw\"},\n    {\"id\":\"Ysmi7WM8M-8\"},\n    {\"id\":\"pYgah51cleQ\"},\n    {\"id\":\"hHljX0Kk7SA\"},\n    {\"id\":\"lCEDkmJFe74\"},\n    {\"id\":\"IErnyp3OUq0\"},\n    {\"id\":\"DHAu5FlH1fg\"},\n    {\"id\":\"JgquWTZrvMM\"},\n    {\"id\":\"psMtG4QVxP0\"},\n    {\"id\":\"b9zZ0CaSP6E\"},\n    {\"id\":\"CcTytiT8cjE\"},\n    {\"id\":\"2Qmwd1pYfx4\"},\n    {\"id\":\"cccYsJmqcyI\"},\n    {\"id\":\"zIj681UvQ7w\"},\n    {\"id\":\"p3XgNMRKeGk\"},\n    {\"id\":\"AG8aG2fHXOE\"},\n    {\"id\":\"R_Gn3j43GsA\"},\n    {\"id\":\"RfWfJpw_UD0\"},\n    {\"id\":\"hni9cRDCk5w\"},\n    {\"id\":\"7xXWAL07Vzc\"},\n    {\"id\":\"UAegozNEANE\"},\n    {\"id\":\"Y_ZoLdM8qiM\"},\n    {\"id\":\"-ckq9md5kug\"},\n    {\"id\":\"yxaiRtc_usU\"},\n    {\"id\":\"vYrhPYLoSIA\"},\n    {\"id\":\"TBbRryNP0Is\"},\n    {\"id\":\"IOzJCPJxK9U\"},\n    {\"id\":\"C9FrvL6RJyM\"},\n    {\"id\":\"TZHSyWExPeY\"},\n    {\"id\":\"nqSB6HdDW-Q\"},\n    {\"id\":\"v3odjMidXS4\"},\n    {\"id\":\"jKqykdz7CEU\"},\n    {\"id\":\"vgucnk606zs\"},\n    {\"id\":\"ZyCGn0jqLFo\"},\n    {\"id\":\"A0J8oFs5gEY\"},\n    {\"id\":\"xFU6cZdhLsE\"},\n    {\"id\":\"rOMZyXtd2Ts\"},\n    {\"id\":\"MPa6y4KlYxQ\"},\n    {\"id\":\"3ltTEnhBYyg\"},\n    {\"id\":\"dInSN0CouXk\"},\n    {\"id\":\"BGmh3c3VAb4\"},\n    {\"id\":\"IYinem0OEOY\"},\n    {\"id\":\"JD1fpGV-QsY\"},\n    {\"id\":\"1AGAacTgqw0\"},\n    {\"id\":\"36yJ6e6TZjI\"},\n    {\"id\":\"2MljL2T4dI0\"},\n    {\"id\":\"EQPyLQaL_KI\"},\n    {\"id\":\"c9vtYS_7Fgo\"},\n    {\"id\":\"iT5kldEMVlM\"},\n    {\"id\":\"3sFSg0g1iaM\"},\n    {\"id\":\"mhhe5kvYxSg\"},\n    {\"id\":\"0jkxpDABuRc\"},\n    {\"id\":\"PBDOLVv1hJg\"},\n    {\"id\":\"eSuJMLr2YCQ\"},\n    {\"id\":\"c5_1Wr1zVus\"},\n    {\"id\":\"b5apRXfcCzo\"},\n    {\"id\":\"H7pngQ0TZAM\"},\n    {\"id\":\"j592QHfTVSY\"},\n    {\"id\":\"Ubj8AFrqcsg\"},\n    {\"id\":\"WuoxIoB5W_E\"},\n    {\"id\":\"NlYHG-RZM5w\"},\n    {\"id\":\"5x1SG_L7XcE\"},\n    {\"id\":\"MlqS-J7HzW0\"},\n    {\"id\":\"xRVHq89n2-Y\"},\n    {\"id\":\"Ha7o5iXUIuY\"},\n    {\"id\":\"UX-ky5RRGdE\"},\n    {\"id\":\"lmEC7wZdQWA\"},\n    {\"id\":\"Ki-iT23W10A\"},\n    {\"id\":\"QWsshDlkcUQ\"},\n    {\"id\":\"4f0idFfBP8Q\"},\n    {\"id\":\"aEsnk6r3pGg\"},\n    {\"id\":\"fsaUcZ_fOOM\"},\n    {\"id\":\"bJGGp2TywSk\"}\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-592,2608],"id":"fd33021c-10ba-4429-8421-9490a6aa4a9f","name":"Long List Example"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1456,2368],"id":"02f6fd50-a612-45a2-b670-6030fc5ed77b","name":"All Records merged after batch processing"},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/videos","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"={{ $json[\"id\"].join(\",\") }}"},{"name":"part","value":"snippet,statistics"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,2656],"id":"05e6868a-7c05-46d8-90bb-46ae5749bc36","name":"Get A Batch of YT Videos","credentials":{"youTubeOAuth2Api":{"id":"Idc2suLGRHp1ZPfe","name":"YouTube account"}}},{"parameters":{"batchSize":25,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[608,2496],"id":"f9e060be-7d97-44ec-8733-e58f18ecb6b2","name":"Loop Over Items in Batches"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-368,2608],"id":"a0d932b4-96d5-4ecb-9c35-76975b4c19f4","name":"Split Out List"},{"parameters":{"rule":{"interval":[{"field":"months","monthsInterval":5040}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-800,2608],"id":"51af4d8d-6bc7-45fb-a0d9-e5a542119816","name":"Schedule Trigger1"},{"parameters":{"rule":{"interval":[{"field":"months","monthsInterval":5040}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-896,1552],"id":"2f551c08-9591-48f7-be7d-18a4b5bceb49","name":"Schedule Trigger"},{"parameters":{"content":"# Example Trigger and Data\n## Change to your triggers/data nodes\nExample List of Items\n\nUse **Split Out** to expand a list into individual items. Many nodes return items already expanded but generic HTTP Requests often return a list[] that has to be expanded for processing","height":576,"width":816,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-1152,-1024],"typeVersion":1,"id":"e157da30-4e64-46ce-a0e2-3e4dffb079cc","name":"Sticky Note"},{"parameters":{"content":"##  Process a List: Per-Item Processing (Built-In Iteration)\n## Route Items Using `If` condition\n\n1. Use **IF** to make evaluate complex conditions on one or multiple fields and run different logic based on the result. (Example looks for `name = Bob` )\n2. Rejoin branches using **Merge** continue the workflow. (Example simply appends both inputs but the **Merge** block is extremely powerful and has many other use-cases)\n\n💡 Example:  \nIf the item's `name` is “Bob”, create a custom message; otherwise apply default processing.\n","height":848,"width":1280,"color":7},"type":"n8n-nodes-base.stickyNote","position":[384,-2560],"typeVersion":1,"id":"97355dea-bdf5-40d7-8553-e7fa08076af7","name":"Sticky Note1"},{"parameters":{"content":"# Example Triggers and Data\n## Change to your triggers/data nodes\n\n### Request to Google https://google.com\n\n### To simulate an Error add /goolugoogoo or some other nonsense to the end of the URL","height":576,"width":816,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-960,1200],"typeVersion":1,"id":"59831323-e1fc-4843-af17-714214872d2c","name":"Sticky Note2"},{"parameters":{"content":"# Example Triggers and Data\n## Change to your triggers/data nodes\n\nExample List of Items\n\nUse **Split Out** to expand a list into individual items. Many nodes return items already expanded but generic HTTP Requests often return a list[] that has to be expanded for processing","height":576,"width":816,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-944,2272],"typeVersion":1,"id":"726cfd03-7333-4d19-b9fb-fbe050b68b8b","name":"Sticky Note3"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"data\": [\n    { \"id\": \"C001\", \"name\": \"Alice\", \"email\": \"alice@example.com\" },\n    { \"id\": \"C002\", \"name\": \"Bob\", \"email\": \"bob@example.com\" },\n    { \"id\": \"C003\", \"name\": \"Carol\", \"email\": \"carol@example.com\" },\n    { \"id\": \"C004\", \"name\": \"James\", \"email\": \"james@example.com\" },\n    { \"id\": \"C005\", \"name\": \"Irene\", \"email\": \"irene@example.com\" },\n    { \"id\": \"C006\", \"name\": \"Kevin\", \"email\": \"kevin@example.com\" },\n    { \"id\": \"C007\", \"name\": \"Seamus\", \"email\": \"seamus@example.com\" },\n    { \"id\": \"C008\", \"name\": \"Nebuchadnezzar\", \"email\": \"nebuchadnezzar@example.com\" }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-784,-752],"id":"765ce9db-2801-4d57-8bad-422298c4a6b3","name":"Contacts Example Data"},{"parameters":{"rule":{"interval":[{"field":"months","monthsInterval":5040}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1024,-752],"id":"345c3fea-cadb-4d8e-98d8-48d30e19ce91","name":"Almost never"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-544,-752],"id":"b0427357-014f-43b0-9c19-1c544b86e96e","name":"Split Out data Into Individual Items"},{"parameters":{"content":"## Process items in Batches using a Loop Node \n### Route Items Using `If` condition\n\n1. Set the Loop node to iterate over your array field (e.g., `data`).  \n2. Choose your batch size — run items one-by-one or in groups.  \n3. Add your processing nodes inside the loop; they will receive one batch at a time.  \n4. The loop exits automatically when all batches are processed.\n\n💡 Example:  \nRun a controlled batch process where you handle items 5 at a time.\n","height":816,"width":1280,"color":7},"type":"n8n-nodes-base.stickyNote","position":[384,-768],"typeVersion":1,"id":"f0d45874-7519-427b-a35f-766d2573de66","name":"Sticky Note4"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1328,-288],"id":"0747892c-985a-41e8-be99-8ea2a2053619","name":"Merge3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1312,-592],"id":"95fcb143-7754-462f-841e-68e3e5a767b3","name":"Run this node to process in batches"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1360,-2080],"id":"303242c7-255a-4f85-b8b9-f829b2c52c8e","name":"Run this node to process each item"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1440,-1136],"id":"26ad7a85-db8a-4948-a5c0-8081c066bda2","name":"Run this node to process each item1"},{"parameters":{"content":"##  Process a List: Per-Item Processing (Built-In Iteration)\n## Route Items Using `Switch`\n\nSimilar to the IF processing but allows for simpler conditions on a single field but allows for more logical branches. \n\n1. Use **Switch** to send items into different branches based on a field.\n2. Each rule checks a condition (e.g., name equals “Bob”). \n_*Conditions are evaluated from Top to Bottom and continue to the next item on the first match_\n3. Items that don’t match any rule can go to a fallback branch\n_*An easy way to make an ELSE condition inside for a *Switch* node is to use `is not empty` or `exists` condition on the evaluated field and put it at the bottom. See the example \"Anyone Else\"_\n\n💡 Example:  \nCreate different greetings for “Bob”, “Alice”, and “Anyone Else”.\n\n","height":848,"width":1280,"color":7},"type":"n8n-nodes-base.stickyNote","position":[384,-1664],"typeVersion":1,"id":"2ea3b73d-58ac-495c-ace9-cced7ee4c1ad","name":"Sticky Note5"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1408,560],"id":"7ab920a6-9404-4403-bd66-d2694052a24b","name":"Merge4"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1408,256],"id":"15e0bca6-28aa-4188-9dcd-cc2d120c95ed","name":"Run this node to process in batches1"},{"parameters":{"content":"## Process items in Batches using a Loop Node \n### Route Items Using `Switch` node\n\n1. Set the Loop node to iterate over your array field (e.g., `data`).  \n2. Choose your batch size — run items one-by-one or in groups.  \n3. Add your processing nodes inside the loop; they will receive one batch at a time.  \n4. The loop exits automatically when all batches are processed.\n\n💡 Example:  \nRun a controlled batch process where you handle items 5 at a time.\n","height":816,"width":1280,"color":7},"type":"n8n-nodes-base.stickyNote","position":[384,96],"typeVersion":1,"id":"9f61bce9-0d3c-45c2-b539-80db95bbb4e6","name":"Sticky Note6"},{"parameters":{"content":"## Validate and Classify API Responses\n\n1. The **IF** node checks whether the HTTP response is valid.  \n2. Valid responses go forward; invalid ones go to the error path.  \n3. **Switch** categorizes errors (3xx, 4xx, 5xx) for custom handling.\n","height":816,"width":1280,"color":7},"type":"n8n-nodes-base.stickyNote","position":[384,1120],"typeVersion":1,"id":"76555cd4-22a9-4d23-85e0-c7c544efe174","name":"Sticky Note7"},{"parameters":{"content":"## Batch Enrich Items from Multi-ID API Endpoints\n\n1. **Aggregate** collects all `id` values into an array so they can be sent together.  \n2. **Loop In Batches** controls how many IDs are included per request (e.g., 25 per batch).  \n3. **HTTP Request** calls an API that supports querying multiple items at once (e.g., `id=1,2,3,...`).  \n4. **Split Out** expands the API’s batch response back into individual records.  \n5. **Merge (Enrich Input2)** attaches the fetched API data to the original items using matching fields (e.g., `id` → `id`).  \n6. The loop repeats until all IDs have been processed.\n\n💡 Example:  \nUse this when an API lets you request multiple items by listing IDs (YouTube, Shopify, HubSpot, etc.), letting you reduce API calls,network time and speed up workflows.\n\n## ⚠️ For the Example to work you have to configure your YouTube OAuth2 API Credentials\n","height":816,"width":1296,"color":7},"type":"n8n-nodes-base.stickyNote","position":[384,2048],"typeVersion":1,"id":"411414c4-8bec-4061-87db-fa1c367ba7d9","name":"Sticky Note8"}],"connections":{"Loop Over Items":{"main":[[{"node":"Run this node to process in batches","type":"main","index":0}],[{"node":"If Condition","type":"main","index":0}]]},"Do Something":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Do Something Else":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"If Condition":{"main":[[{"node":"Do Something Else","type":"main","index":0}],[{"node":"Do Something","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Run this node to process in batches1","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Bob Greeting","type":"main","index":0}],[{"node":"Alice Greeting","type":"main","index":0}],[{"node":"Generic Greeting","type":"main","index":0}]]},"Bob Greeting":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"Alice Greeting":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"Generic Greeting":{"main":[[{"node":"Merge4","type":"main","index":2}]]},"If Condition1":{"main":[[{"node":"Do Something Else1","type":"main","index":0}],[{"node":"Do Something1","type":"main","index":0}]]},"Do Something Else1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Do Something1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Switch1":{"main":[[{"node":"Bob Greeting1","type":"main","index":0}],[{"node":"Alice Greeting1","type":"main","index":0}],[{"node":"Generic Greeting1","type":"main","index":0}]]},"Bob Greeting1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Alice Greeting1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Generic Greeting1":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"HTTP Request":{"main":[[{"node":"Validate Success Response","type":"main","index":0}],[{"node":"Notify for error","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Handle 3xx Errors","type":"main","index":0}],[{"node":"Handle 4xx Errors","type":"main","index":0}],[{"node":"Handle 5xx Errors","type":"main","index":0}]]},"Notify for error":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Validate Success Response":{"main":[[{"node":"Handle valid responses","type":"main","index":0}],[{"node":"Notify for error","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Get A Batch of YT Videos","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Long List Example":{"main":[[{"node":"Split Out List","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Loop Over Items in Batches","type":"main","index":0}]]},"Get A Batch of YT Videos":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Loop Over Items in Batches":{"main":[[{"node":"All Records merged after batch processing","type":"main","index":0}],[{"node":"Aggregate","type":"main","index":0},{"node":"Merge2","type":"main","index":0}]]},"Split Out List":{"main":[[{"node":"Loop Over Items in Batches","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Long List Example","type":"main","index":0}]]},"Contacts Example Data":{"main":[[{"node":"Split Out data Into Individual Items","type":"main","index":0}]]},"Almost never":{"main":[[{"node":"Contacts Example Data","type":"main","index":0}]]},"Split Out data Into Individual Items":{"main":[[{"node":"If Condition1","type":"main","index":0},{"node":"Loop Over Items","type":"main","index":0},{"node":"Switch1","type":"main","index":0},{"node":"Loop Over Items1","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Run this node to process each item","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Run this node to process each item1","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0cd3b890-d89c-4d54-b53b-7e47e4b0592e","triggerCount":0,"shared":[{"createdAt":"2025-11-14T12:12:53.203Z","updatedAt":"2025-11-14T12:12:53.203Z","role":"workflow:owner","workflowId":"1TjRWUzIMqlwW8bP","projectId":"eJmXvMfwlB4M0OPl"}],"tags":[]}