not-reviewed/WooCommerce-HubSpot_Customer_Sync/1761928344752-Template.json
{"createdAt":"2025-09-01T09:01:21.911Z","updatedAt":"2025-10-24T22:39:25.000Z","id":"SOFnyrIfwASqeza1","name":"WooCommerce-HubSpot Customer Sync","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"15e3d8d0-9fee-4a74-88e8-e77b3fd46523","name":"sync_origin_metadata","value":true,"type":"boolean"},{"id":"e1c29339-be0d-4db1-9a56-083397d05f5c","name":"update_existing_contacts","value":false,"type":"boolean"},{"id":"60a4d027-c9eb-4622-a3b9-ed9481daa096","name":"notifications","value":true,"type":"boolean"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1664,512],"id":"b2303f56-6078-4493-8add-9e53d6d3f2bf","name":"Conf"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2832,656],"id":"7e110576-ed72-45d9-b44e-0ab4602f5a60","name":"When clicking ‘Execute workflow’"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2832,512],"id":"c8ae0da6-a29c-4c9a-98c9-ccfa36141833","name":"Schedule Trigger"},{"parameters":{"event":"customer.created"},"type":"n8n-nodes-base.wooCommerceTrigger","typeVersion":1,"position":[-2480,32],"id":"b053af42-8499-411c-9613-0e6a0964413a","name":"WooCommerce Trigger","webhookId":"a90f3c98-6732-447e-91b8-966108b18ed0","credentials":{"wooCommerceApi":{"id":"Dsq5shoik9qjm7FD","name":"grafit.scavenger.dev"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2112,384],"id":"beecbd03-7b98-4332-9e01-4bb0ebf42d4a","name":"Loop Over New Customers"},{"parameters":{"authentication":"appToken","email":"={{ $json.email }}","additionalFields":{"city":"={{ $json.billing.city }}","country":"={{ $json.billing.country }}","countryRegionCode":"={{ $json.billing.postcode }}","firstName":"={{ $json.first_name || $json.billing.first_name }}","lastName":"={{ $json.last_name ||$json.billing.last_name }}","lifeCycleStage":"customer","phoneNumber":"={{ $json.billing.phone }}","postalCode":"={{ $json.billing.postcode }}","streetAddress":"={{ $json.billing.address_1 }} {{ $json.billing.address_2 }}"},"options":{"resolveData":false}},"type":"n8n-nodes-base.hubspot","typeVersion":2.1,"position":[2768,480],"id":"1d560fe5-7d44-42d5-a499-bd9b287f414a","name":"Create or update a Contact","credentials":{"hubspotAppToken":{"id":"a8A0heYwRlMmKZAa","name":"HubSpot account"}},"onError":"continueErrorOutput"},{"parameters":{"mode":"raw","jsonOutput":"={{ $('WooCommerce Trigger').item.json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-544,96],"id":"7633c89f-0058-4e11-aca2-d4aaf092b2f6","name":"Get WooCommerce Customer from webhook"},{"parameters":{"url":"=https://{{ $json.site }}/wp-json/wc/v3/customers","authentication":"predefinedCredentialType","nodeCredentialType":"wooCommerceApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"per_page","value":"100"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"json"}},"pagination":{"pagination":{"paginationMode":"responseContainsNextURL","nextURL":"={{\n\t$response.headers.link\n\t\t? $response.headers.link.split(',').find(link => link.includes('rel=\"next\"'))?.match(/<([^>]+)>/)?.[1] \n\t\t: null\n}}","paginationCompleteWhen":"other","completeExpression":"={{\n\t// Return true to STOP pagination when there's no 'next' page\n\t!$response.headers.link || !$response.headers.link.includes('rel=\"next\"')\n}}","requestInterval":1000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-576,800],"id":"f8eb7c68-cbca-4545-8391-a7c50ab67c51","name":"Get all WooCommerce customers","executeOnce":false,"retryOnFail":false,"credentials":{"wooCommerceApi":{"id":"Dsq5shoik9qjm7FD","name":"grafit.scavenger.dev"}},"onError":"continueErrorOutput"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"email","renameField":true,"outputFieldName":"inputs"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-160,576],"id":"c895b4b9-2dd5-4ba9-852b-2e260a52ab68","name":"Extract email list"},{"parameters":{"fieldToSplitOut":"body","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-320,576],"id":"fd1b88ff-efc9-4fe9-8766-101ccb7a4fba","name":"Split Out Customers"},{"parameters":{"method":"POST","url":"https://api.hubapi.com/crm/v3/objects/contacts/search","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filterGroups\": [\n    {\n      \"filters\": [\n        {\n          \"propertyName\": \"email\",\n          \"operator\": \"IN\",\n          \"values\": {{  $json.inputs.toJsonString() }}\n        }\n      ]\n    }\n  ],\n  \"properties\": [\"email\", \"firstname\", \"lastname\"]\n}   ","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,576],"id":"7e1d383a-c7b5-4bd1-bb4b-ea19174222f0","name":"Lookup emails in hubspot contacts","credentials":{"hubspotAppToken":{"id":"a8A0heYwRlMmKZAa","name":"HubSpot account"}}},{"parameters":{"fieldToSplitOut":"body.results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[304,576],"id":"8333530b-4f36-4e1e-9630-a481f1bd8459","name":"Split out matching contacts"},{"parameters":{"fieldToSplitOut":"body","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[304,784],"id":"4137d1ea-91b9-444c-8653-6e990dc9fb59","name":"Split Out WooCommerce customers"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8a568b21-2859-4849-b108-e2c978bf50f4","leftValue":"={{ $json.customer_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1024,496],"id":"576f1740-6ca0-4be0-ad8e-2193664aed7f","name":"Is Webhook"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"40f1dc8f-c982-4081-9797-2a1c92992a6d","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"1dc87f14-30e7-46e2-b31f-585755a28914","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2384,480],"id":"8061e5d8-af5e-4ddd-b380-6eb93b875932","name":"Has Email"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c13fe47d-27a2-4cf1-84ff-ef82514c251b","leftValue":"={{ $('Conf').item.json.sync_origin_metadata }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"eab8f00a-f53f-4b14-8fc0-4b070044418b","leftValue":"={{ $json.properties.origin_site.value }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3264,752],"id":"755c22ec-95a5-450a-934b-3b5f1c3bacd1","name":"If Custom Properties enabled"},{"parameters":{"method":"POST","url":"https://api.hubapi.com/crm/v3/objects/contacts/search","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filterGroups\": [\n    {\n      \"filters\": [\n        {\n          \"propertyName\": \"email\",\n          \"operator\": \"EQ\",\n          \"value\": \"{{  $json.email }}\"\n        }\n      ]\n    }\n  ],\n  \"properties\": [\"email\", \"firstname\", \"lastname\"]\n}   ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,16],"id":"12c6ab0c-f3a1-4552-93bd-0b456a0e3a68","name":"Lookup in hubspot by email","credentials":{"hubspotAppToken":{"id":"a8A0heYwRlMmKZAa","name":"HubSpot account"}}},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1120,80],"id":"e334b9cd-c23b-4aac-97a6-673c01f49b5f","name":"Merge"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"properties.email","field2":"email"}]},"outputDataFrom":"input2","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[736,768],"id":"3a557d00-6eb3-499a-ab92-4739858e0ba6","name":"Keep Existing Contacts"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"properties.email","field2":"email"}]},"joinMode":"keepNonMatches","outputDataFrom":"input2","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[736,592],"id":"815aa0cf-e4ef-4278-925d-8cf559dce7b8","name":"Keep New Contacts"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a7b81fe7-6c08-4ea2-9597-319856b8695d","leftValue":"={{ $json.results }}","rightValue":0,"operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[368,-112],"id":"e28f9fa8-2a33-4aad-ae2f-aea6f32ab7aa","name":"Contact Exists"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5720da52-a2cf-4e55-9c5c-9718f1fe37a5","leftValue":"={{ $('Conf').item.json[\"update_existing_contacts\"] }}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[976,768],"id":"fba82307-711a-4fb8-bf65-f147329ae672","name":"Update Existing Contacts enabled","notesInFlow":false,"alwaysOutputData":false,"executeOnce":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5720da52-a2cf-4e55-9c5c-9718f1fe37a5","leftValue":"={{ $('Conf').item.json[\"update_existing_contacts\"] }}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[816,-128],"id":"e3be8771-9714-42d5-a499-bf8e3f0c767c","name":"Update Existing Contacts enabled1","notesInFlow":false,"alwaysOutputData":false,"executeOnce":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d63cc3d-875c-4839-94ea-62d87231dff3","leftValue":"={{ $json.notifications }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1296,288],"id":"842d79da-a89c-4472-bdc6-1997ec35f76e","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1024,272],"id":"30139f92-ed2a-46e2-b2cb-2a9242eff196","name":"Replace with notification node or workflow execution"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d63cc3d-875c-4839-94ea-62d87231dff3","leftValue":"={{ $('Conf').item.json.notifications }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3328,368],"id":"dd16ea71-79bf-4725-8ec7-6abe85a858ea","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3984,352],"id":"4042279a-e514-4e3f-a231-4333c16b5c38","name":"Replace with notification node or workflow execution1"},{"parameters":{"content":"## (Optional) Real Time sync via Webhook\n\n1. Follow the Official WooCommerce documentation to [Create a webhook](https://woocommerce.com/document/webhooks/#creating-webhooks):\n    - Topic: Customer Created\n    - Delivery URL:  Webhook URLs of this trigger node\n\n2. Activate this trigger node","height":304,"width":816,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3104,-112],"id":"b35aa9e2-baed-4cbe-affa-b34aff343398","name":"Sticky Note"},{"parameters":{"content":"## Scheduled/Manual Full contact sync via Polling\n### 1. Configure a time interval for the Schedule trigger.\n    Avoid too aggressive schedules.\n    Consider off-peak scheduling.\n### 2. Set the full domain of the WooCommerce website in the Set Domain node. (i.e. www.yourwoocommercesite.com)\n    For multiple stores setup this workflow then duplicate it and adjust domain and credentials \n\n\n\n","height":592,"width":992},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3104,224],"id":"3db4cd11-0986-4b09-93b0-2e7b0ed0d6af","name":"Sticky Note1"},{"parameters":{"content":"# 2. ⚙️ Workflow Configuration\n## How it works:\nCentral hub for all synchronization settings. Controls contact update behavior and origin tracking.\n\n## Configuration:\n### `sync_origin_metadata` | [true/false] | Default: true\nSet `true`/`false` to enable/disable WooCommerce domain tracking\n\n📝 Create **origin_site** contact property in HubSpot first\n🔒 Existing values are preserved (no overwrite)\n\n### `update_existing_contacts` | [true/false] | Default: false\nSet `true` to always update contacts with incoming data, `false` to only create new contacts.\n\n⚡ false reduces API load for large stores but only sends contact data to HubSpot if contact with the same email doesn't exist.\n\n\n### `notifications` | [true/false] | Default: false\nSet `true`/`false` to enable/disable start/end notifications\n   - 🔔 Add your preferred notification method (Email, Slack, etc.) ","height":1072,"width":576,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-1872,-256],"typeVersion":1,"id":"e1c8d4f8-5440-4e6a-98ed-5c593a7bd5d7","name":"Sticky Note3"},{"parameters":{"assignments":{"assignments":[{"id":"e3dd1a7e-6f98-4dde-b1bf-7963e6aa49f8","name":"site","value":"grafit.scavenger.dev","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2240,512],"id":"4a1efae1-4bc3-4322-9c35-dddbd1f9aa01","name":"Set Domain"},{"parameters":{"content":"# 3. 🔔 (Optional) Configure Notifications\n\n## How it works:\nAdd custom notifications when the workflow starts executing for monitoring and alerting purposes.\n\n## Configuration:\n### Notification Setup\nConfigure **notifications:true** in the **Conf** node\n\nReplace this node with your preferred notification method:\n- **Email**: Send start/end alerts via email\n- **Messaging Apps**: Slack, Teams, Telegram, etc.\n- **Webhooks**: Trigger other n8n workflows or external services\n- **Custom**: Any supported n8n notification node","height":672,"width":416,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-1168,-256],"typeVersion":1,"id":"38303baa-4d07-4c37-99d1-308b2a4ecce1","name":"Sticky Note2"},{"parameters":{"content":"# 5.⚙️ Configure HubSpot Credentials\n\nCreate a HubSpot App Token or setup OAuth2 API an configure the Authentication of theses nodes\n\nExample:\n- **Authentication**: Predefined Credential Type\n- **Credential Type**: HubSpot App Token OR HubSpot OAuth2 API\n\n","height":1152,"width":272,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-16,-384],"id":"d87cb596-e87b-4beb-836a-16d388c2a571","name":"Sticky Note4"},{"parameters":{"content":"# 4.⚙️ Configure WooCommerce Credentials\n\nCreate a WooCommerce API key and configure the Authentication of this node\n\nExample:\n- **Authentication**: Predefined Credential Type\n- **Credential Type**: WooCommerce API\n\n","height":560,"width":288,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-688,384],"id":"fc5cad1e-55a7-457a-8250-b9cb25ab0a4b","name":"Sticky Note6"},{"parameters":{"content":"# 6. 📋 Contact Field Mapping\n\n## How it works:\nMaps WooCommerce customer data to HubSpot contact properties. This node creates or updates contacts in HubSpot.\n\n\n## Customization:\n- Modify field mappings to match your HubSpot property names\n- Add additional WooCommerce → HubSpot field mappings as needed\n- Test with sample data to verify mapping accuracy\n\n💡 Configured to match existing contacts by email address\n🔧 Create HubSpot custom properties exist before mapping or the workflow will fail","height":912,"width":544,"color":4},"type":"n8n-nodes-base.stickyNote","position":[2016,-176],"typeVersion":1,"id":"8dad457a-4bf3-409d-ace0-d79fb7308ce9","name":"Sticky Note7"},{"parameters":{"authentication":"appToken","email":"={{ $('Has Email').item.json.email }}","additionalFields":{"customPropertiesUi":{"customPropertiesValues":[{"property":"origin_site","value":"={{ $('Has Email').item.json._links.collection[0].href.extractDomain() }}"},{"property":"origin_id","value":"={{ $('Has Email').item.json.id }}"}]}},"options":{"resolveData":false}},"type":"n8n-nodes-base.hubspot","typeVersion":2.1,"position":[3584,832],"id":"57bc866c-1025-43b8-b6c4-aacf352ad013","name":"Update Contacts with Origin Site","credentials":{"hubspotAppToken":{"id":"a8A0heYwRlMmKZAa","name":"HubSpot account"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"e3dd1a7e-6f98-4dde-b1bf-7963e6aa49f8","name":"site","value":"={{ $json._links.collection[0].href.extractDomain()}}","type":"string"},{"id":"a2ad66f2-3ad9-4f64-b092-02ee8542e589","name":"customer_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2240,32],"id":"b29a4824-fa3c-4e9e-b21a-fb93b6d91049","name":"Extract customer origin and ID"},{"parameters":{"content":"# 8. 🔔 (Optional) Configure Notifications\n\n## How it works:\nAdd custom notifications when the workflow ends executing for monitoring and alerting purposes.\n\n## Configuration:\n### Notification Setup\nConfigure **notifications:true** in the **Conf** node\n\nReplace this node with your preferred notification method:\n- **Email**: Send start/end alerts via email\n- **Messaging Apps**: Slack, Teams, Telegram, etc.\n- **Webhooks**: Trigger other n8n workflows or external services\n- **Custom**: Any supported n8n notification node","height":704,"width":416,"color":7},"type":"n8n-nodes-base.stickyNote","position":[3184,-208],"typeVersion":1,"id":"c5ee013b-564b-4922-9424-8579c6a66a21","name":"Sticky Note8"},{"parameters":{"assignments":{"assignments":[{"id":"464e908d-697c-468d-a4ad-de14983725ae","name":"message","value":"Could not create/update record","type":"string"},{"id":"f2752e74-286a-4a24-bf03-ce3285f8d0a0","name":"error","value":"={{ $json.error }}","type":"string"},{"id":"c4efbd41-fae0-4ae5-8d6a-97fc614af5bf","name":"woo_customer","value":"={{ $('Loop Over New Customers').item.json }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3024,736],"id":"4f259e9b-3a04-4483-8584-1d2f8d143b34","name":"Error Details"},{"parameters":{"assignments":{"assignments":[{"id":"464e908d-697c-468d-a4ad-de14983725ae","name":"message","value":"Could not create/update record","type":"string"},{"id":"f2752e74-286a-4a24-bf03-ce3285f8d0a0","name":"error","value":"={{ $json.error }}","type":"string"},{"id":"c4efbd41-fae0-4ae5-8d6a-97fc614af5bf","name":"woo_customer","value":"={{ $('Loop Over New Customers').item.json }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3904,864],"id":"8333f8b3-1a85-4192-a7a7-f2b435145c74","name":"Error Details1"},{"parameters":{"content":"# 7. ⚙️ HubSpot Credentials\n\n## How it works\nUpdates the contact `origin_site` with the domain of woocommerce site\n\n## Configuration\nConfiugre HubSpot credentials","height":640,"width":352,"color":5},"type":"n8n-nodes-base.stickyNote","position":[2640,96],"typeVersion":1,"id":"50ca5527-aa90-4eb5-bfdd-7fe086f34752","name":"Sticky Note5"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1312,608],"id":"e30409a3-a0e6-40d3-a87c-fc46b90faf9b","name":"Merge1"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2480,-112],"id":"a4ce0178-7c8e-4a92-8b19-2574a4ae872b","name":"When Executed by Another Workflow"},{"parameters":{"content":"Template Purpose: Automatically synchronize WooCommerce customer data with HubSpot contacts\n\nHigh-Level Functionality:\n\nReal-time customer creation via webhooks\nBatch customer synchronization via polling\nSmart duplicate detection and handling\nConfigurable update behavior for existing contacts\nMulti-store support with origin tracking\n\nKey Features:\n\n🔄 Dual trigger support (webhook + scheduled)\n🎯 Email-based contact matching\n🏷️ Origin site tracking for multi-store setups\n⚙️ Configurable update behavior\n🔔 Optional notifications\n🛡️ Error handling and logging","height":416,"width":464},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3136,-624],"id":"b2ad1417-86df-4827-a260-6233e751b048","name":"Sticky Note9"}],"connections":{"Conf":{"main":[[{"node":"Is Webhook","type":"main","index":0},{"node":"If","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Set Domain","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set Domain","type":"main","index":0}]]},"WooCommerce Trigger":{"main":[[{"node":"Extract customer origin and ID","type":"main","index":0}]]},"Loop Over New Customers":{"main":[[{"node":"If1","type":"main","index":0}],[{"node":"Has Email","type":"main","index":0}]]},"Create or update a Contact":{"main":[[{"node":"If Custom Properties enabled","type":"main","index":0}],[{"node":"Error Details","type":"main","index":0}]]},"Get WooCommerce Customer from webhook":{"main":[[{"node":"Lookup in hubspot by email","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Get all WooCommerce customers":{"main":[[{"node":"Split Out WooCommerce customers","type":"main","index":0},{"node":"Split Out Customers","type":"main","index":0}]]},"Extract email list":{"main":[[{"node":"Lookup emails in hubspot contacts","type":"main","index":0}]]},"Split Out Customers":{"main":[[{"node":"Extract email list","type":"main","index":0}]]},"Lookup emails in hubspot contacts":{"main":[[{"node":"Split out matching contacts","type":"main","index":0}]]},"Split out matching contacts":{"main":[[{"node":"Keep New Contacts","type":"main","index":0},{"node":"Keep Existing Contacts","type":"main","index":0}]]},"Split Out WooCommerce customers":{"main":[[{"node":"Keep New Contacts","type":"main","index":1},{"node":"Keep Existing Contacts","type":"main","index":1}]]},"Is Webhook":{"main":[[{"node":"Get WooCommerce Customer from webhook","type":"main","index":0}],[{"node":"Get all WooCommerce customers","type":"main","index":0}]]},"Has Email":{"main":[[{"node":"Create or update a Contact","type":"main","index":0}],[{"node":"Loop Over New Customers","type":"main","index":0}]]},"If Custom Properties enabled":{"main":[[{"node":"Update Contacts with Origin Site","type":"main","index":0}],[{"node":"Loop Over New Customers","type":"main","index":0}]]},"Lookup in hubspot by email":{"main":[[{"node":"Contact Exists","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over New Customers","type":"main","index":0}]]},"Keep New Contacts":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Contact Exists":{"main":[[{"node":"Update Existing Contacts enabled1","type":"main","index":0}],[{"node":"Merge","type":"main","index":0}]]},"Keep Existing Contacts":{"main":[[{"node":"Update Existing Contacts enabled","type":"main","index":0}]]},"Update Existing Contacts enabled":{"main":[[{"node":"Merge1","type":"main","index":1}],[]]},"Update Existing Contacts enabled1":{"main":[[{"node":"Merge","type":"main","index":0}],[]]},"If":{"main":[[{"node":"Replace with notification node or workflow execution","type":"main","index":0}]]},"If1":{"main":[[{"node":"Replace with notification node or workflow execution1","type":"main","index":0}]]},"Set Domain":{"main":[[{"node":"Conf","type":"main","index":0}]]},"Update Contacts with Origin Site":{"main":[[{"node":"Loop Over New Customers","type":"main","index":0}],[{"node":"Error Details1","type":"main","index":0}]]},"Extract customer origin and ID":{"main":[[{"node":"Conf","type":"main","index":0}]]},"Error Details":{"main":[[{"node":"Loop Over New Customers","type":"main","index":0}]]},"Error Details1":{"main":[[{"node":"Loop Over New Customers","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Loop Over New Customers","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Extract customer origin and ID","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:WooCommerce Trigger":{},"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ed012985-c549-4333-adae-ab68b4169d4e","triggerCount":2,"shared":[{"createdAt":"2025-09-01T09:01:21.926Z","updatedAt":"2025-09-01T09:01:21.926Z","role":"workflow:owner","workflowId":"SOFnyrIfwASqeza1","projectId":"eJmXvMfwlB4M0OPl"}],"tags":[]}