not-reviewed/Building_Blocks_–_Data_Manipulation/1763041006760-Template.json
{"createdAt":"2025-11-12T14:06:18.733Z","updatedAt":"2025-11-13T13:20:23.000Z","id":"k7SIl0ixZC7Zsw5q","name":"Building Blocks – Data Manipulation","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const key = 'email';\nconst seen = new Set();\n\nreturn $input.all().filter(item => {\n    const value = item.json[key];\n    if (seen.has(value)) return false;\n    seen.add(value);\n    return true;\n});"},"id":"f0e2b934-6f62-4c23-83f7-67630ab2b800","name":"Deduplicate List by Field","type":"n8n-nodes-base.code","typeVersion":2,"position":[-496,-128]},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"email","field2":"email"}]},"options":{"fuzzyCompare":false}},"id":"64c0580b-1341-49e1-945f-a07e59ebefda","name":"Compare Lists by Field Keep Matches","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-496,-832]},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"email","field2":"email"}]},"joinMode":"keepNonMatches","options":{"fuzzyCompare":false}},"id":"4bf41c68-c701-4fcc-b20a-edcd8467e842","name":"Compare Lists by Field Keep Non-Matches1","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-496,-640]},{"parameters":{"jsCode":"function flatten(obj, parentKey = '', res = {}) {\n    for (let key in obj) {\n        const newKey = parentKey ? `${parentKey}.${key}` : key;\n        if (typeof obj[key] === 'object' && obj[key] !== null && !Array.isArray(obj[key])) {\n            flatten(obj[key], newKey, res);\n        } else {\n            res[newKey] = obj[key];\n        }\n    }\n    return res;\n}\nreturn $input.all().map(item => ({\n    json: flatten(item.json)\n}));  "},"id":"0743d0d5-005e-4eaa-ad12-d48263a2f21d","name":"Flatten JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[-496,1104]},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"name\": \"Hans Schmidt\",\n  \"company\": {\n      \"name\": \"GMBH\",\n      \"address\": {\n          \"city\": \"Berlin\",\n          \"strett\": \"Strasse\"\n      }\n  }\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1856,1104],"id":"bac0be5b-fcbd-485c-ad47-343a6764a794","name":"Example Nested JSON"},{"parameters":{"mode":"raw","jsonOutput":"{\"data\":[\n{\n  \"name\": \"Marie Dubois\",\n  \"email\": \"marie.dubois@email.fr\",\n  \"city\": \"Paris\"\n},\n{\n  \"name\": \"Marie D.\", \n  \"email\": \"marie.dubois@email.fr\",\n  \"city\": \"Lyon\"\n},\n{\n  \"name\": \"Jean Moreau\",\n  \"email\": \"jean.moreau@societe.com\",\n  \"company\": \"SARL Parisienne\"\n},\n{\n  \"name\": \"Sophie Laurent\",\n  \"email\": \"s.laurent@universite.fr\",\n  \"role\": \"Professeur\"\n},\n{\n  \"name\": \"J. Moreau\",\n  \"email\": \"jean.moreau@societe.com\", \n  \"department\": \"Ventes\"\n},\n{\n  \"name\": \"Pierre Bernard\",\n  \"email\": \"p.bernard@gouv.fr\",\n  \"institution\": \"Ministère\"\n}\n]}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1856,-128],"id":"46bdddcb-bdd3-4d52-a88f-144bb4e31585","name":"Example Duplicate List"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2224,512],"id":"5000a606-3b4d-4d4f-bcb9-49213dea675c","name":"When clicking ‘Execute workflow’"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1632,-128],"id":"f228185d-26be-40b8-ba2b-063a1e577bd2","name":"Split Out"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"data\":[\n    {\n      \"customer_id\": \"IT001\",\n      \"name\": \"Marco Rossi\",\n      \"email\": \"marco.rossi@email.it\",\n      \"loyalty_tier\": \"Gold\",\n      \"preferred_category\": \"Vini\"\n    },\n    {\n      \"customer_id\": \"IT002\", \n      \"name\": \"Giulia Bianchi\",\n      \"email\": \"giulia.bianchi@azienda.com\",\n      \"loyalty_tier\": \"Silver\",\n      \"preferred_category\": \"Design\"\n    },\n    {\n      \"customer_id\": \"IT003\",\n      \"name\": \"Luca Ferrari\",\n      \"email\": \"luca.ferrari@mail.it\", \n      \"loyalty_tier\": \"Bronze\",\n      \"preferred_category\": \"Automobili\"\n    },\n    {\n      \"customer_id\": \"IT004\",\n      \"name\": \"Sofia Romano\",\n      \"email\": \"sofia.romano@universita.it\",\n      \"loyalty_tier\": \"Gold\",\n      \"preferred_category\": \"Arte\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1872,-880],"id":"c9a49bd2-524b-4133-bbcf-5bce484544e8","name":"Example Customers List"},{"parameters":{"mode":"raw","jsonOutput":"{\"data\":[\n  {\n    \"order_id\": \"ORD1001\",\n    \"email\": \"marco.rossi@email.it\",\n    \"product\": \"Chianti Classico\",\n    \"amount\": 45.50,\n    \"order_date\": \"2024-01-15\"\n  },\n  {\n    \"order_id\": \"ORD1002\",\n    \"email\": \"antonio.ricci@libero.it\",\n    \"product\": \"Espresso Machine\", \n    \"amount\": 120.00,\n    \"order_date\": \"2024-01-15\"\n  },\n  {\n    \"order_id\": \"ORD1003\", \n    \"email\": \"giulia.bianchi@azienda.com\",\n    \"product\": \"Designer Lamp\",\n    \"amount\": 89.99,\n    \"order_date\": \"2024-01-16\"\n  },\n  {\n    \"order_id\": \"ORD1004\",\n    \"email\": \"elena.moretti@hotmail.com\",\n    \"product\": \"Leather Handbag\",\n    \"amount\": 150.00, \n    \"order_date\": \"2024-01-16\"\n  },\n  {\n    \"order_id\": \"ORD1005\",\n    \"email\": \"luca.ferrari@mail.it\",\n    \"product\": \"Car Accessories\",\n    \"amount\": 75.25,\n    \"order_date\": \"2024-01-17\"\n  }\n]\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1872,-592],"id":"a20b57ad-f7b0-4eff-85d4-b3bf8157e92d","name":"Example Orders List"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1648,-880],"id":"1fbb4d3b-84ca-4a9b-a874-e58601c68bdf","name":"Split Out1"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1648,-592],"id":"bae4fc1d-1b91-435f-b134-6f73508fb049","name":"Split Out2"},{"parameters":{"jsCode":"const key = 'company';\nconst groups = {};\nfor (const item of $input.all()) {\n    const value = item.json[key];\n    if (!groups[value]) groups[value] = [];\n    groups[value].push(item.json);\n}\nreturn Object.keys(groups).map(groupKey => ({\n    json: {\n        [key]: groupKey,\n        items: groups[groupKey]\n    }\n}));"},"id":"2cb2c89b-f56a-429e-9b6d-b38a55e3a67c","name":"Group by Field","type":"n8n-nodes-base.code","typeVersion":2,"position":[-496,512]},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1632,512],"id":"59c05384-6d33-4f87-8f66-528a6d3585a0","name":"Split Out3"},{"parameters":{"mode":"raw","jsonOutput":"{\"data\":[\n  {\n    \"name\": \"Carlos García\",\n    \"email\": \"carlos.garcia@telefonica.es\",\n    \"company\": \"Telefónica\",\n    \"role\": \"Ingeniero\",\n    \"city\": \"Madrid\"\n  },\n  {\n    \"name\": \"Maria López\",\n    \"email\": \"maria.lopez@inditex.com\", \n    \"company\": \"Inditex\",\n    \"role\": \"Diseñadora\",\n    \"city\": \"A Coruña\"\n  },\n  {\n    \"name\": \"Javier Martínez\",\n    \"email\": \"javier.martinez@telefonica.es\",\n    \"company\": \"Telefónica\", \n    \"role\": \"Gerente\",\n    \"city\": \"Barcelona\"\n  },\n  {\n    \"name\": \"Ana Rodríguez\",\n    \"email\": \"ana.rodriguez@santander.com\",\n    \"company\": \"Banco Santander\",\n    \"role\": \"Analista\",\n    \"city\": \"Madrid\"\n  },\n  {\n    \"name\": \"David Hernández\",\n    \"email\": \"david.hernandez@inditex.com\",\n    \"company\": \"Inditex\",\n    \"role\": \"Comercial\", \n    \"city\": \"Valencia\"\n  },\n  {\n    \"name\": \"Laura González\",\n    \"email\": \"laura.gonzalez@iberdrola.com\",\n    \"company\": \"Iberdrola\",\n    \"role\": \"Especialista\",\n    \"city\": \"Bilbao\"\n  },\n  {\n    \"name\": \"Miguel Sánchez\",\n    \"email\": \"miguel.sanchez@santander.com\", \n    \"company\": \"Banco Santander\",\n    \"role\": \"Director\",\n    \"city\": \"Sevilla\"\n  },\n  {\n    \"name\": \"Elena Pérez\",\n    \"email\": \"elena.perez@telefonica.es\",\n    \"company\": \"Telefónica\",\n    \"role\": \"Desarrolladora\",\n    \"city\": \"Valencia\"\n  }]\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1856,512],"id":"9c4bc3f7-081b-4c22-8598-7212c661dbc7","name":"Example Leads List"},{"parameters":{"jsCode":"const field = 'tag';\nconst values = new Set($input.all().map(item => item.json[field]));\nreturn Array.from(values).map(v => ({\n    json: {\n        [field]: v\n    }\n}));"},"id":"c9441043-c1cc-4b86-bf42-c318fe6adb68","name":"Extract Unique Values","type":"n8n-nodes-base.code","typeVersion":2,"position":[-496,1840]},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1632,1840],"id":"eeb23a0d-679c-40f9-96a6-f3c2460a7456","name":"Split Out4"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"data\":[\n    {\n      \"name\": \"Yuki Tanaka\",\n      \"email\": \"yuki.tanaka@tokyo.jp\",\n      \"company\": \"Sony Corporation\",\n      \"tag\": \"Electronics\",\n      \"city\": \"Tokyo\"\n    },\n    {\n      \"name\": \"Haruto Sato\", \n      \"email\": \"haruto.sato@toyota.co.jp\",\n      \"company\": \"Toyota Motors\",\n      \"tag\": \"Automotive\",\n      \"city\": \"Nagoya\"\n    },\n    {\n      \"name\": \"Sakura Yamamoto\",\n      \"email\": \"sakura.yamamoto@shiseido.com\",\n      \"company\": \"Shiseido\",\n      \"tag\": \"Cosmetics\", \n      \"city\": \"Osaka\"\n    },\n    {\n      \"name\": \"Kaito Kobayashi\",\n      \"email\": \"kaito.kobayashi@nintendo.co.jp\",\n      \"company\": \"Nintendo\",\n      \"tag\": \"Gaming\",\n      \"city\": \"Kyoto\"\n    },\n    {\n      \"name\": \"Hana Takahashi\",\n      \"email\": \"hana.takahashi@mitsubishi.com\", \n      \"company\": \"Mitsubishi\",\n      \"tag\": \"Electronics\",\n      \"city\": \"Tokyo\"\n    },\n    {\n      \"name\": \"Riko Matsumoto\",\n      \"email\": \"riko.matsumoto@uniqlo.com\",\n      \"company\": \"Fast Retailing\",\n      \"tag\": \"Fashion\",\n      \"city\": \"Tokyo\"\n    },\n    {\n      \"name\": \"Daichi Inoue\", \n      \"email\": \"daichi.inoue@honda.co.jp\",\n      \"company\": \"Honda\",\n      \"tag\": \"Automotive\",\n      \"city\": \"Hamamatsu\"\n    },\n    {\n      \"name\": \"Mei Nakayama\",\n      \"email\": \"mei.nakayama@bandai.com\",\n      \"company\": \"Bandai\",\n      \"tag\": \"Toys\",\n      \"city\": \"Tokyo\"\n    },\n    {\n      \"name\": \"Yuto Kimura\",\n      \"email\": \"yuto.kimura@canon.com\", \n      \"company\": \"Canon\",\n      \"tag\": \"Electronics\",\n      \"city\": \"Tokyo\"\n    },\n    {\n      \"name\": \"Akari Fujimoto\",\n      \"email\": \"akari.fujimoto@shiseido.com\",\n      \"company\": \"Shiseido\", \n      \"tag\": \"Cosmetics\",\n      \"city\": \"Yokohama\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1856,1840],"id":"b0ba8f8f-6731-4858-8e1c-54e893b7c8db","name":"Example People List"},{"parameters":{"content":"## Compare Two Lists (Keep Matches or Non-Matches)\n\n1. Connect two lists into the Merge node:  \n   - **Input 1** → e.g., List of Customers  \n   - **Input 2** → e.g., List of Orders  \n2. In the Merge node settings:\n   - Set **Mode** to `Combine`  \n   - Enable **Advanced → Merge By Fields** and specify matching fields (e.g., `email` in both lists).  \n   - Adjust **Join Mode** to choose:\n     - `keepMatches` → Keep only matching items.  \n     - `keepNonMatches` → Keep only non-matching items.  \n3. Adjust **Output Data From** to select whether to output items from Input1, Input2, or both merged.\n\n💡 **Example:**  \n- Input1: `List of Customers`  \n- Input2: `List of Orders`  \n- Match by: `email`  \n- Join Mode: `keepMatches` (only customers with orders)\n","height":832,"width":864,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-864,-1296],"id":"305595d5-1760-4933-8b8f-4792de36ad68","name":"Sticky Note"},{"parameters":{"content":"## List Deduplicator (Remove Duplicates by Field)\n### Use this block to remove duplicate entries in a list based on a unique field (e.g., `email`, `id`).  \n2. Open the **Code node** and change the variable `key` to the field you want to deduplicate by.  \n3. The output will include only one item per unique value.\n\n💡 **Example:**  \nIf multiple items share the same `email`, only the first occurrence will be kept.\n","height":448,"width":864,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-864,-432],"id":"6b2cb4ad-3220-4c1e-be69-229dcc82937f","name":"Sticky Note1"},{"parameters":{"content":"## Flatten Nested JSON\n### Use this block to simplify complex or deeply nested JSON objects into a flat structure.\n\nThe **Code node** recursively flattens all nested properties, separating keys with a dot (`.`).\n\n💡 **Example:**\n\nThe Object:\n   ```json\n   {\n     \"user\": { \"name\": \"Alice\", \"email\": \"alice@example.com\" }\n   }\n   ``` \nBecomes:\n   ```json\n   { \"user.name\": \"Alice\", \"user.email\": \"alice@example.com\" }\n   ``` \n📘 Tip:\nUse this before aggregation, counting, or generating summaries per group.","height":576,"width":864,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-864,656],"id":"69b952ec-f311-49bf-b0ad-debeeec4df41","name":"Sticky Note2"},{"parameters":{"content":"## Group Items by Field\n### This block groups a list of objects by a selected key (e.g., `company`, `category`, `country`).\n1. In the **Code node**, update the `key` variable to specify the field used for grouping.\n2. The output will contain one item per unique group, each with an array of grouped items under `items`.\n\n💡 **Example:**\nIf your list has multiple users per company:\n```json\n[\n  { \"name\": \"Alice\", \"company\": \"Acme\" },\n  { \"name\": \"Bob\", \"company\": \"Acme\" },\n  { \"name\": \"Eve\", \"company\": \"TechCorp\" }\n]\n```\nOutput:\n```json\n[\n  { \"company\": \"Acme\", \"items\": [ {...}, {...} ] },\n  { \"company\": \"TechCorp\", \"items\": [ {...} ] }\n]\n```","height":592,"width":864,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-864,48],"id":"dbe7109c-23d9-46a7-ba59-fdbf58f1ae20","name":"Sticky Note3"},{"parameters":{"content":"## Extract Unique Values from a Field\n### Use this block to collect all unique values from a given field (e.g., tags, countries, categories).\n1. In the **Code node**, set the variable `field` to the property name you want to extract.\n2. The output will be a list of distinct values, each as a separate item.\n\n💡 **Example:**\nInput:\n```json\n[\n  { \"tag\": \"sales\" },\n  { \"tag\": \"marketing\" },\n  { \"tag\": \"sales\" }\n]\n```\n\nOutput:\n\n```json\n[\n  { \"tag\": \"sales\" },\n  { \"tag\": \"marketing\" }\n]\n```\n📘 Tip:\nYou can follow this with a Loop to perform actions for each unique value (e.g., generate reports or summaries).","height":720,"width":880,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-864,1264],"id":"47638d0a-2c30-4a3a-8f77-7904835fe143","name":"Sticky Note4"}],"connections":{"Deduplicate List by Field":{"main":[[]]},"Compare Lists by Field Keep Matches":{"main":[[]]},"Example Nested JSON":{"main":[[{"node":"Flatten JSON","type":"main","index":0}]]},"Example Duplicate List":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Example Customers List","type":"main","index":0},{"node":"Example Orders List","type":"main","index":0},{"node":"Example Duplicate List","type":"main","index":0},{"node":"Example Leads List","type":"main","index":0},{"node":"Example Nested JSON","type":"main","index":0},{"node":"Example People List","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Deduplicate List by Field","type":"main","index":0}]]},"Example Customers List":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Example Orders List":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Compare Lists by Field Keep Matches","type":"main","index":0},{"node":"Compare Lists by Field Keep Non-Matches1","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Compare Lists by Field Keep Matches","type":"main","index":1},{"node":"Compare Lists by Field Keep Non-Matches1","type":"main","index":1}]]},"Split Out3":{"main":[[{"node":"Group by Field","type":"main","index":0}]]},"Example Leads List":{"main":[[{"node":"Split Out3","type":"main","index":0}]]},"Group by Field":{"main":[[]]},"Example People List":{"main":[[{"node":"Split Out4","type":"main","index":0}]]},"Split Out4":{"main":[[{"node":"Extract Unique Values","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ddbca03c-2bba-4f81-a9e3-443e360514f7","triggerCount":0,"shared":[{"createdAt":"2025-11-12T14:06:18.742Z","updatedAt":"2025-11-12T14:06:18.742Z","role":"workflow:owner","workflowId":"k7SIl0ixZC7Zsw5q","projectId":"eJmXvMfwlB4M0OPl"}],"tags":[]}